[2015-01-19 18:55] logomancer opened #1 "Add Android Support"
It's possible to [port a Qt 5 program to Android](http://doc.qt.io/qt-5/portingtoandroid.html). Might be worth looking into.

[2015-01-19 21:21] pbek commented on #1
Yes, that's true. The same goes for iOS. But a lot of parts will need to be rewritten, for example currently the syncing is done by ownCloud, under iOS and Android the ownCloud API would need to be used...
Maybe I'll dive deeper into this topic. ;)

[2015-01-19 21:21] #1 closed

[2015-02-07 18:12] gityeti opened #2 "dependency nvidia-331"
Hello, thanks for your work, QOwnNotes_0.15_amd64.deb works fine for me.
Tried QOwnNotes_0.22_amd64.deb, but I can't install it because of dependency problem (nvidia-331 not installed).
 # dpkg -i QOwnNotes_0.22_amd64.deb
Sélection du paquet qownnotes précédemment désélectionné.
(Lecture de la base de données... 259483 fichiers et répertoires déjà installés.)
Préparation du dépaquetage de QOwnNote

[2015-02-08 08:13] pbek commented on #2
Hm, it should work without it. I now removed it from the package and tested it in an Ubuntu 14.04 VM.
Can you please try the latest linux package and report to me if it works: <http://www.bekerle.com/content/download/73/353/version/15/file/QOwnNotes_0.22.1_amd64.deb>

Thank you very much for your feedback!

[2015-02-08 12:34] gityeti commented on #2
Thank you for your fast answer. I could install the package 0.22.1 without any problem.
When I start QOwnNotes, it opens the window correctly. But if I try to write something in an existing note, or if I try to create a new note, the window closes immediatly. This is the output:
$ QOwnNotes
QOwnNotes: symbol lookup error: QOwnNotes: undefined symbol: _ZN6QDebugD1Ev
Is there a debug option to get m

[2015-02-08 12:41] gityeti commented on #2
Thank you for your fast answer. I could install the package 0.22.1 without any problem.
When I start QOwnNotes, it opens the window correctly. But if I try to write something in an existing note, or if I try to create a new note, the window closes immediatly. This is the output:
$ QOwnNotes
QOwnNotes: symbol lookup error: QOwnNotes: undefined symbol: _ZN6QDebugD1Ev
Is there a debug option to get m

[2015-02-08 19:59] pbek commented on #2
I thought I got all those debug symbols out. Linux deployment is a hell. I will work some more on it, thanks a lot for reporting!
PS: 0.22.1 is just 0.22 minus the nvidia package dependency

[2015-02-08 20:27] pbek commented on #2
I now did a clean build which resulted in the extinction of the debug-symbols. It also worked on my test-VM. Can you please try again with:
http://www.bekerle.com/content/download/73/353/version/16/file/QOwnNotes_0.22.2_amd64.deb

Thanks a lot for your patience!

[2015-02-08 22:24] gityeti commented on #2
Servus Patrizio,
diesmal hat's geklappt, this time (version 0.22.2) it works fine!
Thank you, great job, and very usefull.

[2015-02-09 06:27] pbek commented on #2
Makes me happy! :) Thank you for your kind words and your patience. Have a great day!

[2015-02-09 06:27] #2 closed

[2015-02-24 21:10] mckaygerhard opened #3 "supported oc6 but how view in oc 6?"
this great app are supported for oc 6, but there's and alternativa inside owncloud web insterface?

a mean there a equivalent with, against the ownnote? due ownnote does not install in oc6 so
.. so this app install in opc6 and that its ironic!

[2015-02-24 21:38] pbek commented on #3
QOwnNotes is compatible with the default notes application of ownCloud, I'm not absolutely sure when the notes app was added to ownCloud, I will change the requirement to ownCloud 7 to be sure. Thank you for pointing that out!

[2015-02-24 21:38] #3 closed

[2015-02-25 15:27] mckaygerhard commented on #3
hey.. u will drop support to oc6 .. what a puff! of course more easy to drop rather that make!

[2015-02-25 16:36] pbek commented on #3
I think there is a misunderstanding. I'm not the maintainer of the ownCloud Notes app (of which I don't know in which version of ownCloud it was added). I'm the maintainer of the QOwnNotes app, what runs natively on Windows, Mac and Linux and uses ownCloud to to sync notes. These notes can be edited in the notes app of the ownCloud notes app. That's the magic.

[2015-02-25 16:41] mckaygerhard commented on #3
ummm.. so this app does not nothing to do with owncloud property, its and desktop integration app ...

[2015-02-25 16:47] pbek commented on #3
It allows to edit ownCloud notes on the desktop.

[2015-02-25 16:59] mckaygerhard commented on #2
i wish toprovide packages for diferents flavors of debian (and not winbuntu)...

but i ask.. this app will compile wioth qt4 4.6.3?

[2015-02-25 17:21] mckaygerhard commented on #3
yes i know.. i linked this repo to an issue in the ownnote repo that request integration with other desktop apps, please this app does compile with qt 4.6.3? if yes i can use massively in my enterprise and made good aproach and Free propagandize this.

[2015-02-25 20:46] pbek commented on #3
Which distribution runs exactly that version? Did you try checking out the code and firing up "qmake"?

[2015-02-25 20:47] pbek commented on #2
Which distribution runs exactly that version? Did you try checking out the code and firing up "qmake"?

[2015-02-27 16:03] mckaygerhard commented on #3
arrggg install again qt4 libs lots of space .

ur proyect are very crappy, hard to mantain on console..

intranet@sysmail00:~/Devel/QOwnNotes/src$ qmake -makefile QOwnNotes.pro
Project MESSAGE: RELEASE!
WARNING: Failure to find: libraries/hoedown/html_blocks.h

[2015-02-27 16:07] mckaygerhard commented on #3
new with some fixeds now that:

[code]

[2015-02-27 16:12] mckaygerhard commented on #3
after reduce usage of C++ standar from 2011 to c99 (fobit initialization on headers files are not permited before 2009) got this:

[code]

this are only compilable with qt 4.8.2, u must reduce the requeriments to qt 4.6.3 and i'll redistribute in two distributions and added to one desktop project pia fundation in Venezuela and Bolivia

[2015-02-27 16:15] mckaygerhard opened #4 "too high requeriments gcc 4.8 vs 4.4 at least!"
this app could not be installabe in redhat 5 and 6 and in debian squeeze or minor little lightweith ditributions that still use gcc 4.4 and 4.5

this due usage of too newer standar of C++

headers file does not permit initializations in c++ standar for gcc << 4.8:

[code]

[2015-02-27 16:16] mckaygerhard commented on #4
and this are not solved with adition of -std=c++99 due newer inclusion of version 11 in gcc 4.8

[2015-02-27 21:21] pbek commented on #4
My build process calls `qmake QOwnNotes.pro -r -spec linux-g++-64`. Does this do anything useful on your system?

[2015-02-27 21:25] pbek commented on #3
My build process calls `qmake QOwnNotes.pro -r -spec linux-g++-64`. Does this do anything useful on your system?

Thank you for your analysis!
Looks like quite some work, I'm open for git pull requests!

[2015-02-27 21:57] mckaygerhard commented on #3
the last problem are not qmake call related, its about using newer C++ standar that permits initialize an var in the headers...

[2015-02-27 21:58] mckaygerhard commented on #4
the last problem are not qmake call related, its about using newer C++ standar that permits initialize an var in the headers.. this was introduced in gcc 4.8 and newer

[2015-02-27 21:58] mckaygerhard commented on #4
a solution its do not init any value in the jheaders and only do it in the c sources..

[2015-03-02 05:45] pbek commented on #4
can you prepare a git pull request?

[2015-03-02 13:48] mckaygerhard commented on #4
Not yet, later because i have some more errors, I can make one in a week because I'm too busy with my work, i'll made a pull and i hope solves almost all breaks agains the C++99 standard

[2015-03-17 16:24] stevenbuehner opened #5 "Feature Request: Keyword recognition"
Hi,
I really like this app. Is there any chance to add a keyword syntax to add keywords to every file or even to parts in the file.

For example like: I want to talk about [[my Keyword]] in a plain text...

[2015-03-17 16:43] pbek commented on #5
Thank you for your praise and your suggestion. Keyword were already kind of on my mind. But since the ownCloud web app and the iOS app don't support keywords I don't really know what to do with them. So what are your thoughts?

[2015-03-17 17:01] zocker22 commented on #5
Mhh. Good question. I have see different general Classes and DB-Entries in Owncloud that implement basic tagging functionality. Although nobody has used it so far.

Here is what I tried so far:
- In the beginning I just added the keywords to my filename, commaseparated. But unfortunately the length of the filename has a maximum, which I already hit sometimes.
- Right now I add all my keywords comm

[2015-03-17 21:27] pbek commented on #5
To really make use of a tagging feature it would be nice if ownCloud notes would support it too...
And I guess I would have to reinvent the whole user interface of QOwnNotes and how everything works to make use of tagging. (For example to group notes by tag.)
Sooner than later I would have to start to store everything in a database instead of just using the plain text files...

[2015-03-17 22:27] TtuxX commented on #4
Hello @pbek
Thanks for your awesome work and very useful client !

Just to let you known that I am also experiencing the same error message that @mckaygerhard when trying to build your client relase 0.22(.2) on Debian 7.0:
`WARNING: Failure to find: libraries/hoedown/html_blocks.h`

When I try to install the Ubuntu 14.* x64 `.deb` on Debian 7.0, I also have a `libstdc++6-4.8-dbg` dependancy error.

[2015-03-17 23:27] mckaygerhard commented on #4
i have already that erro in my work-in-progress @TtuxX and try to fix also..  the problem for solve the library its related to generation on the qmake command ... u must run inside the src for debian

[2015-03-17 23:46] TtuxX commented on #4
@mckaygerhard I red the `README.md` instructions, thanks, actually that's not the problem as I get this error being in the `/src` folder.

[2015-03-18 17:04] pbek commented on #4
@TtuxX, thank you for your kind words! I just fixed some warnings and removed the libstdc++6-4.8-dbg dependency (libstdc++6 was added instead) from the Debian package. How does it work for you now?

[2015-03-18 23:42] TtuxX commented on #4
@pbek You are welcome !! Your application is great! :)

Thanks to your dependencies requirement changes I can now completely run the `qmake QOwnNotes.pro -r -spec linux-g++-64` command. The output message is: `Project MESSAGE: RELEASE!`

Unfortunately compilation fails when running `make`:
[code]

[2015-03-19 06:18] pbek commented on #4
Thank you, @TtuxX ! ;)
So far QOwnNotes needs QT 5, it seems you are using QT 4. :/ QSignalBlocker was introduced in Qt 5.3.

[2015-03-20 17:50] mckaygerhard commented on #4
i cannot find equivalent code (at my level of knowled) for the qt5 changes, i cannot port to qt4.6 the app...

[2015-03-21 01:03] TtuxX commented on #4
@pbek @mckaygerhard Yeah I'm running the default provided QT. Hmm... it's ok, I guess most users do run on some more actual distros than Wheezzy-like ones. ^^ QT 5 is officially available in Debian Jessie's repos and can be installed on Wheezzy using some tricks. Gotta install it

[2015-03-21 06:47] pbek commented on #4
@TtuxX, you could always download QT 5 at <http://www.qt.io/download-open-source/>

[2015-03-21 16:16] TtuxX commented on #4
I thought about installing QT 5 from wheezzy-backports repo but finally installed it from the website, then built it using the QT 5 `qmake`. I now have Qownnotes working perfectly :)
@mckaygerhard What do you think about listing the minimal software requirements needed to build Qownnotes in the `Readme` file ? Like specifying that it needs at least QT 5.3

[2015-03-21 16:34] TtuxX opened #6 "Crash while opening an empty note"
Qownnotes (0.22 at least) seems to crash when trying to open an empty note (with file content size = 0 bytes), and does not even start if the first note of the list is an empty one.

Crash log:
`qownnotes: libraries/hoedown/buffer.c :98 : hoedown_buffer_grow:  the assertion « buf && buf->unit » has failed.`

Empty files can be opened as long as their sizes are superior to 0 bytes.
It might be wort

[2015-03-22 07:11] pbek commented on #4
Great to hear, @TtuxX
The minimum software requirements are a good idea, I added some now.

[2015-03-22 07:11] #4 closed

[2015-03-22 07:14] pbek commented on #6
Thank you for reporting @TtuxX ! I will see if I can reproduce the bug.

[2015-03-22 07:22] pbek commented on #6
This issue should be fixed now, thank you again for mentioning it, @TtuxX!

[2015-03-22 07:22] #6 closed

[2015-03-23 13:15] mckaygerhard commented on #4
i do not use wheeze or jeese, there are so slow (so far slow), i use custom squeeze that are not shiped with qt5 and compile and install qt5 will crappy the system, qt4 gives me better performence, loading less components widgets in the version library..

in any case, thanks any way.. i'll only use the notes app from web in my company.

[2015-05-31 09:56] janhenke opened #7 "QOwnNotes cannot open notes folder in GNOME gvfs"
GNOME 3 integrates Owncloud access, so there is no need to run the Linux client. The Owncloud files are available via a gvfs folder.

Currently opening that folder produces a segfault. Opening QOwnNotes again, it works.

[2015-05-31 09:59] janhenke opened #8 "QOwnNotes Markdown view uses wrong encoding on WIndows"
Any note containing UTF-8 letters appears broken in the Markdown view. It looks like the Markdown view uses a legacy encoding, as one UTF-8 letter is displayed as 3 random glyphs apparently interpreting each byte according to some Windows code page.

[2015-05-31 10:11] janhenke commented on #8
The issue seems specific to Windows. Opening the same note on Linux uses correct UTF-8 encoding.

[2015-05-31 10:13] janhenke opened #9 "Markdown view ignores line breaks"
Opening any any note in the editor view produces correct formatting. Switching to the Markdown view for the same note, all line breaks are no longer displayed and the whole formatting is broken.

[2015-05-31 14:48] pbek commented on #7
Is that gvfs folder mounted into the regular filesystem? QOwnNotes can only read and write to regular files. Although I never tested gvfs folder so far...

[2015-05-31 14:56] pbek commented on #8
Thank you for reporting. Markdown rendering is done by https://github.com/hoedown/hoedown.
I'll see if using a new version will change anything. QOwnNotes currently uses 3.0.1, the latest is 3.0.3...

Sadly I currently don't have access to a Windows 8 installation.

[2015-05-31 14:57] pbek commented on #8
Did you try using it on a local filesystem?

[2015-05-31 14:58] pbek commented on #9
Did you try using it on a local filesystem? Under which OS did you get this behavior?

[2015-05-31 17:55] janhenke commented on #7
It is mounted on access as far as I experienced so far. It crashes the first time you lunch QOwnNotes and you select the gvfs folder.
After the first run it does not crash any more. But if the gvfs is not mounted before starting QOwnNotes, no notes are visible. If the gvfs is mounted already, it seems to work.

[2015-05-31 17:58] janhenke commented on #8
The files are on the local file system (C:\Users\Jan\OwnCloud\Notes).
I am not familiar with that library, maybe it needs to be told to use the correct encoding? On Linux it definitely works, but Linux usually used UTF-8 as the default.

[2015-05-31 18:00] janhenke commented on #9
Note files are on the local file system. I see the same behaviour with both Linux and Windows.

[2015-05-31 19:27] pbek commented on #9
Ah, now I know what you mean. In Markdown a line break does not result in a line break, you have to use two ore more spaces and a line break.
http://daringfireball.net/projects/markdown/syntax#p

[2015-05-31 19:27] #9 closed

[2015-05-31 19:29] pbek commented on #8
Could you please provide me with a text file that causes problems?

[2015-05-31 19:34] pbek commented on #7
Maybe the "mount on access" is the problem, who knows what happens meanwhile...
The notes are loaded into a in-memory sqlite database, when the program starts or the folder is changed.
Would take a while to reproduce this error...

[2015-05-31 19:42] janhenke commented on #8
For example a simple German sentence:
[code]
In the Markdown view it results in this String:
[code]

Another example is this Vietnamese word:
[code]

Resulting in this broken String:
[code]

[2015-05-31 19:44] janhenke commented on #9
Well QOwnNotes has the bad habit of removing blank lines. So leaving two empty lines is currently not possible.

[2015-05-31 19:46] janhenke opened #10 "Windows version is missing toolbar icons"
The Windows version is currently missing the icons in the toolbar. The two buttons are present, but have no icons. On Linux it works, so it seems a packaging issue.

I just extracted the supplied zip file as is and run the executable from it.

[2015-05-31 19:53] pbek commented on #9
I can't reproduce this behaviour on Win7. :(
But can you do two spaces and a line break?

[2015-05-31 20:08] pbek commented on #8
Seems to be a problem with the hoedown library, I updated to 3.0.3, but the problem is still there...

[2015-05-31 20:14] janhenke commented on #8
So can you raise the issue with the library devs? The current situation makes the Markdown view unusable on Windows.

[2015-05-31 20:20] janhenke commented on #9
Why two spaces? A blank line is enough to split one paragraph from the next. Quoting from the above link:
[code]
Blank really means a line break immediately followed by another line break. That must work.

QOwnNotes must not remove any blank lines from the note. Do not mistaken my issues, I like the application, just trying to improve it.

[2015-05-31 20:23] janhenke commented on #7
Well it should work with it. I am not fully up to date with the file system APIs, maybe you can register for an event when the folder is available for read? To me it looks like currently you are trying to read from the folder before it is fully mounted.

[2015-05-31 20:40] pbek commented on #8
I think I found a solution, it's in the latest git commit... Should be fixed in build 27 for Windows. Can you confirm that it works for you now?

[2015-05-31 21:06] janhenke commented on #8
It is much better indeed (btw the Window stil says build 26). Đào is still broken though, but different from before, it is now displayed as

[code]

It is definitely better.

[2015-06-01 04:28] pbek commented on #10
It works on Windows 7, we have to think about a way to solve this under Windows 8... I guess its a problem to view SVGs under Windows 8.

[2015-06-01 04:30] pbek commented on #9
QOwnNotes doesn't remove blank lines in the edit view, at least not under Windows 7, Mac and Linux. Do you have that problem under Linux too?

[2015-06-01 04:32] pbek commented on #8
That's not really better. :) And it has to say Build 27, I will check again.

[2015-06-01 05:03] pbek commented on #8
I definitely don't have the issue with the this version under Windows 7: http://www.qownnotes.org/content/download/75/365/version/17/file/QOwnNotes.zip
(I build it again, now it really says build 27. I guess the new version header file got ignored last time)

Do you have any improvement?

[2015-06-01 06:44] janhenke commented on #8
Well it is better since it is less broken than before. I downloaded it yesterday from the website, where the download section said build 27, but the title said build 26. The link above gave me build 27 now though.

It looks like the issue now is that certain characters are replaced with question marks. That seems the case mostly with letters from the Vietnamese alphabet. For example ```mười``` (wh

[2015-06-01 06:45] janhenke commented on #9
I had it happen yesterday, but I cannot yet reproduce it reliable yet. I will keep an eye on it and report back if I notice a pattern which triggers this behaviour.

[2015-06-01 06:48] janhenke commented on #10
That is strange. There should be no major difference between Windows 7 and 8. I had a similar problem some time ago on Linux, where the Qt SVG library was missing as far as I remember, but I see it is supplied in the zip file.

I guess we need to trace whether it is loaded correctly on start up by the dynamic linker?

[2015-06-01 15:56] pbek commented on #7
You would have to tell me where the app segfaults by running the built source code in Qt Creator yourself...

[2015-06-01 16:04] janhenke commented on #7
No, building myself from source should not be required. By the way I noticed the Debian package declares dependencies on some -dbg packages, please either drop that or supply debugging symbols yourself.

Anyway the stack trace from gdb:

[code]

[2015-06-01 16:48] pbek commented on #8
You may try build 28 now.
http://www.qownnotes.org/content/download/75/365/version/18/file/QOwnNotes.zip

[2015-06-01 16:50] pbek commented on #10
I installed a Win 8.1 VM and already tried a lot. No progress so far...

[2015-06-01 16:55] pbek commented on #7
I had the debug packages is because some people had problems without them... really a strange thing...
thank you for the dump

[2015-06-01 16:58] janhenke commented on #7
What kind of problems? It really should work without it. The packages just contain the symbols of the libraries. Any application should not require them.

[2015-06-01 17:05] janhenke commented on #8
Build 28 seems to work now. I hope that fixes the problems for everyone. As a matter of curiosity, what exactly was the cause?

[2015-06-02 04:28] pbek commented on #8
string conversion, character encoding conversion, string length calculation... lots of nasty stuff :)

[2015-06-02 04:28] #8 closed

[2015-06-02 04:31] pbek commented on #7
They were always shown as dependencies in the release build when checking with ldd, and some had problems without them. I already tried to find out what is the cause of this...

[2015-06-03 15:53] pbek commented on #10
The last build of QOwnNotes for Windows (please redownload) has now finally also icons for Windows 8.1.
Can you confirm that?

[2015-06-03 20:06] janhenke commented on #10
Yes, now it works here as well.

[2015-06-03 20:07] pbek commented on #10
Great, thanks again for the report!

[2015-06-03 20:07] #10 closed

[2015-06-18 08:24] valmar opened #11 "QOwnNotes removes whitespace from saved notes"
First of all, thanks for this awesome program. I am now using this as a full Evernote replacement.

I imported into the note folder some external notes that I previously wrote with Markdown in Haroopad. I can see them and edit them just fine in QOwnNotes, but when they are autosaved, all unnecessary whitespace (white lines, etc, not the space between words) is removed and the name of the note (and

[2015-06-18 09:53] pbek commented on #11
Thank you for your kind words, @valmar!

The first line has to be the name of the name of the note (minus the ".txt"), that behaviour is enforced by the ownCloud note webapp, so I had to implement it the same way.

As for whitespaces, they should not get removed in the editor mode (but the markdown view ignores them). How did you get the notes into QOwnNotes? Did you put text files into the folder

[2015-06-29 14:32] janhenke opened #12 "Add alphabetical sorting"
Currently the list of notes is sorted by modification date/time. It would be nice and helpful to switch to an alphabetical sorting. Especially for people maintaining a systematic naming scheme to find specific notes more easily.

[2015-06-29 19:52] pbek commented on #12
Thanks for the idea. Would be nice. Maybe someone (or me) will do something about it. ^_^

[2015-07-28 14:24] valmar commented on #11
Sorry @pbek for the delayed response
No I moved the notes just by putting the text files into the folder. I then edited them with QOwnNotes and when I went back to them they were like I said, without whitespace...

Thanks for looking into it!

[2015-07-28 15:17] pbek commented on #11
No worries, @valmar. ;)
I think I found the problem, it happens when a file gets renamed, if the first line of the file doesn't match the file name.
It should be fixed now, can you please head over to http://www.qownnotes.org/ and fetch the latest build (building is in process, you have to wait until it shows you today's date). Please tell me if you still got the problem.

[2015-07-28 15:18] #7 closed

[2015-07-29 08:15] valmar commented on #11
@pbek, it seems to be fixed! Thank you!

[2015-07-29 08:20] pbek commented on #11
Great, @valmar! Thanks again for reporting!

[2015-07-29 08:20] #11 closed

[2015-08-16 07:07] pbek commented on #12
Done with the help of @pmarki !

[2015-08-16 07:07] #12 closed

[2015-10-16 16:43] janhenke opened #14 "Feature Request: Provide Ubuntu PPA"
Right now the software is released as stand alone .deb files. It would improve user experience to publish the software instead in a personal package archive (PPA).

This would also allow the package to be build separately for all current releases. Thereby making changes in dependencies between different Ubuntu releases manageable.

[2015-10-16 16:47] janhenke opened #15 "Ubuntu Packageing: Update dependency on libicu"
The Debian/Ubuntu package currently depends on the libicu52 package. This package is gone in Ubuntu 15.10, being replaced with a new libicu55 package.

Please build separate packages for Ubuntu 15.10 and above, which depend on the new package. Since the old package is complete gone from the archive, the package is currently not installable on this Ubuntu release.
If #14 is solved first, this one s

[2015-10-16 17:12] pbek commented on #14
Thank you, Jan
To create a PPA is a long wanted wish of me and still on my todo list after some attempts. It's far from trivial to create one. :)
I will make some more attempts.

[2015-10-16 17:16] pbek commented on #15
Thank you pointing out the issue with 15.10, Jan!

I will have to change the build, release and deployment processes as well as the update mechanism in the app to achieve this, because so far there only is a 'Linux' build.
Creating a PPA would be nice.

[2015-10-16 17:33] janhenke commented on #14
Well the PPA is not difficult, but you need working Debian packaging for it. It is not as difficult as it seems (if you start with manual pushing).

[2015-10-16 18:19] pbek commented on #14
I will have to learn my way into the debian toolchain... But I want that done on Travis CI in the end... I would even more like to use the OpenSuse build service to build on a lot more platforms... But that's quite some learning task in itself.

[2015-10-16 18:30] janhenke commented on #14
You cannot upload binary packages to a PPA. You have to upload a source package and it will be build by the PPA service.

[2015-10-17 05:43] pbek commented on #14
Yeah, but I would want to do that after a successful build on the master branch. And I would have to rewrite the internal QOwnNotes update service... That will be fun. :)

[2015-10-17 05:52] janhenke commented on #14
Well you could add a compile option to simply deactivate the update service (since the OS takes care of that).
For building, it would be a good idea anyway to support building the master from the command line.

[2015-10-17 07:40] pbek commented on #14
Much food for thought...
The open suse build service is still a bit more appealing to me, it would solve the problem with building for different (Linux) platforms...

[2015-10-17 07:48] janhenke commented on #14
In the end it is a matter of user experience for the end user. I honestly think the Suse build service is the exactly wrong way to serve Ubuntu users.

As I was trying to point out, you need the ability to build in an automated fashion anyway. You also need proper Debian packaging files as well, no matter where to build. The final step to build it in a PPA is then the least work/concern.

[2015-10-17 07:49] janhenke commented on #14
If it is just about setting up the PPA, I could look into it, but I am currently time constraint, so I cannot create a full debian/ folder with all the things needed to build a Debian package.

[2015-10-17 10:04] pbek commented on #14
Some help/hints with setting up a ppa for QOwnNotes would be gladly appreciated!

Currently I build the project for Linux and create a Debian package in Travis (which was a great deal of work to get it running with QT 5.4 and all) and deploy it from there to GitHub releases.
<https://github.com/pbek/QOwnNotes/blob/develop/.travis.yml>

I'm using a pre-prepared Debian package (which I made locally)

[2015-10-19 17:03] pbek commented on #15
I now removed the (by default installed and co-dependent) libicu52 dependency from the deb-package for compatibility with Ubuntu 15.10. The next release (0.54+) will be compatible. Thanks again for reporting @janhenke !

[2015-10-19 17:03] #15 closed

[2015-11-03 16:09] lukosanthropos opened #16 "No icons on ubuntu 14.04"
Hey,
This is most likely a Software Wetware interface issue but I don't have any icons (I am assuming there are editor icons which should be displayed)

I'm running Xfce4 on Ubuntu 14.04 (x64) and I installed 0.55 using the pre-compiled deb. Any ideas what could be causing this ?
![ownnote issue](https://cloud.githubusercontent.com/assets/594625/10913305/4206dcea-8245-11e5-8f70-650da9683794.png)

[2015-11-03 18:36] pbek commented on #16
Looks like troubles with libqt5svg5, is it installed on your system? Which version of Qt do you have?

[2015-11-04 08:09] lukosanthropos commented on #16
I'm running QT5, I don't get any error messages when running QOwnNotes from the terminal, I have just installed libqt5svg5 and the application now works perfectly. Can I suggest that this and the qt networking module (which I did get a command line error about) be marked as dependencies in the deb package, just to prevent this from occurring for other people.

Other than that this is a brilliant a

[2015-11-04 08:13] lukosanthropos commented on #16
Closing as this is now fixed

[2015-11-04 08:13] #16 closed

[2015-11-04 08:26] pbek commented on #16
Thank you for your kind words, @lukosanthropos! I "scratched my own itch" with QOwnNotes. ;)

And thank you even more for your report! I now added libqt5svg5 and libqt5network5 to the package control file, the new deb-file will be available soon. I didn't even realize that the two were missing!

[2015-11-06 20:55] alex1702 opened #17 "Notizen Ordner unabhängig vom Synchronisieren der gesamten Owncloud mit dem PC"
Für die Funktionen Versionen und gelöschte Notizen, muss der Notizen Ordner im Owncloud Ordner lokal liegen, der komplett mit Owncloud synchronisiert wird. Da aber für die API nur der Ordnername + Pfad der in Owncloud für die Notizen verwendet wird benötigt wird, reicht es doch ein Eingabefeld in den Einstellungen zu implementieren.

[2015-11-06 21:47] pbek commented on #17
But what will happen if the user switches to an other notes folder, let us say an archive folder?

[2015-11-07 00:08] alex1702 commented on #17
Also auf einen Notizenordner, der dann nicht synchronisiert wird per Owncloud Client? Hmm vllt dann eine Sicherheitsabfrage mit dem hinweis, dass es zu konflikten kommen kann, wenn man den Ordner ändert und dieser nicht synchronisiert wird. Aber vllt sollte man dann das gesamte Konzept der Accounts nochmal neu aufbauen. Im Sinne von dass man Offline/Online Notizenquellen hinzufügen kann, bei offli

[2015-11-07 05:43] pbek commented on #17
Wenn man ownCloud nicht nutzt, dann braucht man den ganzen Tab in den Settings gar nicht ausfüllen. Wenn man nur offline oder mit einem anderen Sync-Dienst arbeitet muss QOwnNotes nur wissen wo man seinen Notizen speichern will. ;) Die Einstellungen sind nur dafür da um das Versioning und Trash Feature vom ownCloud Server zu benutzen. Der Sync passiert über den ownCloud Sync Client, nicht QOwnNote

[2015-11-08 05:49] gnotaras opened #18 "Note categorization with Notebooks/Tags"
I'm not really familiar with the ownCloud notes app, so this feature request might be invalid, but do you have any plans to implement a way to categorize notes, for instance in notebooks (virtual directories) or support real filesystem directories or even implementing a tagging system? Are any of these supported by the ownCloud notes app API?

This is a nice project.

George

[2015-11-08 05:56] gnotaras opened #19 "User-defined font settings"
It would be nice to let users define the fonts for the editor/viewer. The current font size is too small.

[2015-11-08 06:11] pbek commented on #18
Thank you for your kind words, @gnotaras !
I am sorry, I had the implementation of tags on my todo-list for a long time, but as you assumed, the ownCloud Notes app doesn't support it and I wanted QOwnNotes to use simple files so everyone has direct access to their notes and isn't "locked" to QOwnNotes...
The only thing that is supported by QOwnNotes (but not by ownCloud Notes) are to use different

[2015-11-08 06:14] pbek commented on #19
It should use the system font size, on what system are you using QOwnNotes?
In any case your idea is a good one, I will put it on my todo list, thank you!

[2015-11-08 06:19] gnotaras commented on #18
Hi Patrizio, thanks for your reply.

Now I got how to use the _Set notes folder_ feature so as to categorize using real filesystem directories.

Let's hope the ownCloud app lets you implement more features in this area.

Again, thanks for your work!

George

[2015-11-08 06:27] pbek commented on #18
@gnotaras thank you!
You can create and set an other notes folder with `Set notes folder`. There again you can store as many notes as you like. You can later jump back to your old notes folder with `Recent notes folders`.
If you *right click* on a note in the note list you can move or copy notes to other folders.
I, for example, created an `Archive` folder in my notes default notes folder. You can

[2015-11-08 09:32] gnotaras commented on #18
Certainly. Thanks for this information!

[2015-11-08 09:59] pbek commented on #18
Great, I will close this issue until there are some other news.

[2015-11-08 09:59] #18 closed

[2015-11-08 10:01] pbek commented on #18
And you made me start a *knowledge base* on http://www.qownnotes.org/Knowledge-base :)

[2015-11-08 10:56] gnotaras commented on #18
That's great! Knowledge bases are always a good idea! :)

[2015-11-11 17:39] pbek commented on #19
This is now implemented in version 0.57 on <http://www.qownnotes.org/>.

[2015-11-11 17:40] #19 closed

[2015-11-11 18:57] pbek commented on #17
I will close this issue until there is more information.

[2015-11-11 18:57] #17 closed

[2015-11-12 11:03] gnotaras commented on #19
Fantastic! Just tried it and I'm excited with this addition. Thanks a lot. The fact that you really care about improving this software really makes a difference. Keep up the good work!

[2015-11-12 11:09] pbek commented on #19
@gnotaras thanks again for your invigorating words! They are making all the difference for me too!

[2015-11-30 06:03] LEDfan opened #20 "Support Github Flavored markdown tables"
Hi, I really like your app, and I just miss one feature.

In Github Flavored markdown you can use tables without creating them in HTML:
[code]
Becomes:
column | column
--- | ---
value | value

However this doesn’t work with your app. Can you add this?

Thanks

[2015-11-30 06:32] pbek commented on #20
Hi, @LEDfan

Thank you for your report!
QOwnNotes uses <https://github.com/hoedown/hoedown> for generating the HTML, We have to see what we can do.

[2015-11-30 08:39] pbek commented on #20
Tables are working now in QOwnNotes v0.59 (check the webpage in 10min). Have a great day!

[2015-11-30 08:39] #20 closed

[2015-12-23 13:48] diluex opened #21 "Todo-List Calendar/Tasks Plus app"
Not every task ist listed in the todo list windows for me. obviously it isn't a case of tags or other comments. one of two similar tasks is not shown.

[2015-12-23 15:52] pbek commented on #21
Hi @diluex, thank you for your report!

How many calendar items (vtodo and vcalendar) do you have in this calendar (todo list) on your ownCloud server? Did you wait long enough so that all items could be loaded from the server?
Tags and kind should not be a problem, they are just attributes in the ics-"file" that comes from the server...

Could I get by any chance access to the calendar so I may t

[2015-12-23 17:11] pbek commented on #21
The new QOwnNotes v0.63 has a lot of performance improvements concerning todo lists, you may want to try it out.

[2015-12-23 18:29] diluex commented on #21
sorry, exporting does not work as it is not implemented in the tasks plus app.
only 10/13 tasks are listet. the three have the same deadline (02/29/2016) in common.
does that help? same problem with v. 0.63.
thank you in advance

[2015-12-23 18:29] diluex commented on #21
sorry, exporting does not work as it is not implemented in the tasks plus app.
only 10/13 tasks are listet. the three have the same deadline (02/29/2016) in common.
does that help? same problem with v. 0.63.
thank you in advance

[2015-12-24 06:34] pbek commented on #21
You can export the calendar as ics in *calendar plus*...

[2015-12-24 10:42] pbek commented on #21
I think I found something by myself. Can you please try out version 0.64.
And **Merry Christmas**! :)

[2015-12-26 18:16] Yamakasi opened #22 "Sync issue with rootpath"
Hi,

Great app but there is some sync issue.

Owncloud expects Notes in / but if you want to lineup your ~/Documents etc with your userpath this does not work. I have set my Notes folder in ~/Notes and made a sync for it in the ownCloud but your desktopapp still doesn't see a mainsync folder for owncloud, but I set it.

I think this always have been an ownCloud issue as if you start syncing a user

[2015-12-26 21:40] Yamakasi commented on #22
OK, some update.

It seems atht you need to set the path before the Notes path as rootpath on your local system. Even when it;s not tthe default ownCloud base dir where Notes lives in locally.

So if yo have /Owncloud/Notes set /Owncloud on your local system as Owncloud root.

[2015-12-27 07:18] pbek commented on #22
Hi @Yamakasi , thank you for using QOwnNotes and your report.
The reason QOwnNotes needs to know the main sync folder of ownCloud is that it knows path of the notes folder on the ownCloud server (to ask for trash and file versions).

So you locally have your notes in ~/Notes? on the ownCloud server your notes on the ownCloud webpage are shown in "/Notes", right?
Do you locally sync your whole home

[2015-12-27 08:23] pbek commented on #22
Maybe this can also help you: <http://www.qownnotes.org/Knowledge-base/QOwnNotes-settings-are-reporting-a-problem-with-my-ownCloud-path>

[2015-12-27 16:40] Yamakasi commented on #22
Hi I have all in root of my user and ownCloud dir indeed.

I do selective sync per directory, so I have multiple mapsyncs to prevent syncing checked stuff accidentally :)

Thanks for the link and the good work!

[2015-12-28 06:30] pbek commented on #22
But you can't select different local placements of remote folders with the ownCloud sync client, can't you? (at least I didn't manage so far) so your main sync folder is really your home directory, am I right?

Thank you for your kind words!

[2015-12-28 06:31] pbek commented on #21
I'm closing this issue now, please reopen it if you still have troubles.

[2015-12-28 06:31] #21 closed

[2015-12-30 12:05] pbek commented on #14
I (very proudly) present:

`bash
sudo add-apt-repository ppa:pbek/qownnotes
sudo apt-get update
sudo apt-get install qownnotes
`

[2015-12-30 12:14] #14 closed

[2016-01-03 12:04] pbek commented on #22
Im closing this issue now.

[2016-01-03 12:04] #22 closed

[2016-01-03 12:08] LEDfan opened #23 "[Feature Request] Export to PDF"
Hi, I'm really liking you're app :+1: .

A nice feature would be to easily export to PDF. At the moment there is no way of printing the rendered markdown.

Thanks in advance!

[2016-01-03 12:11] LEDfan opened #24 "Build RPM"
Currently you only build .deb files. It would be great if you release a RPM of your app too.

I'm running OpenSUSE 13.2 and for me it's enough to use the `alien` tool:
[code]
Then a RPM is created. Alien is AFAIK just a perl script, but you will need tools like rpmbuild.

See https://en.wikipedia.org/wiki/Alien_%28software%29 and http://joeyh.name/code/alien/

P.s. do you know the OpenSUSE Build s

[2016-01-03 12:15] pbek commented on #23
Thank you for your suggestion, that would be nice.
I will look into the matter of how much work that would be.

[2016-01-03 12:23] pbek commented on #24
Thank you for your suggestion! I already tried alien.

But to install the rpm you have to use the `--force` parameter to get around the permission problems like:

- file / from install of QOwnNotes-0.65-2.x86_64 conflicts with file from package filesystem-3.2-32.fc22.x86_64
- file /opt from install of QOwnNotes-0.65-2.x86_64 conflicts with file from package filesystem-3.2-32.fc22.x86_64
- file /us

[2016-01-03 12:31] pbek commented on #14
We even have builds for openSUSE now. ;)
Check out the [QOwnNotes installation page](http://www.qownnotes.org/installation)

[2016-01-03 12:33] pbek commented on #24
Please be so kind to report any problems or suggestions for the openSUSE repository!

[2016-01-03 12:34] LEDfan commented on #24
Great! It's working for me, except that I think the library `libqt5-qtsvg` has a wrong name. I have to "break" the installation. In openuse the library is called `libqt5svg`.
Thanks.

[2016-01-03 12:43] pbek commented on #24
Thanks a lot for your report, I could only test openSUSE Leap.
Unfortunately it depends on the openSUSE version how this library is called. Which distribution and version are you using? I need to make changes in the spec file.

[2016-01-03 17:34] blvb opened #25 "File types"
Please allow files extension htm to be compatible with Android app https://play.google.com/store/apps/details?id=com.nowsci.ownnote
and Notes on server.

[2016-01-03 17:43] pbek commented on #25
I'm sorry, the default notes application of ownCloud is only working with plain text files.
I guess QOwnNotes will never edit html files directly since html is not very suitable to create platform agnostic content with.

[2016-01-03 19:20] pbek commented on #23
It's your lucky day, take a look at the new version 0.69. ;)

[2016-01-04 07:25] LEDfan commented on #23
Nice! I just tested and it works like expected :).

[2016-01-04 07:25] #23 closed

[2016-01-04 07:26] LEDfan commented on #24
I'm using OpenSUSE 13.2 64 bit.

[2016-01-04 08:03] pbek commented on #24
Shouldn't be the name of the package not `libQt5Svg5`? That's what <https://software.opensuse.org/package/libQt5Svg5> is saying...

[2016-01-04 08:15] pbek commented on #24
I now changed the spec file, can you please try to update to v0.69.1 and tell me if you get any errors and if it worked with `libQt5Svg5`.

[2016-01-04 08:41] LEDfan commented on #24
Yes I meant `libQt5Svg5`... The package is installation fine now thanks.

[2016-01-04 08:45] pbek commented on #24
I'm glad to hear that! Thanks a lot for your help and have a great day!

[2016-01-04 08:45] #24 closed

[2016-01-04 12:02] Yamakasi opened #26 "Editting note in DesktopApp gives differ error"
When I edit a note in QownNotes and my ownCloudClient syncs the QownNotes app popup a windows there there is difference between the server and QownNotes.

I understand why this happens, both clients want to syn the changes in the Notes folder in your Owncloud home folder.

How to fix this ?

[2016-01-04 12:08] Yamakasi opened #27 "OpenSSL installed on windows 10, Qownnotes doesn't see it ?"
I have installed the minimal version of the recommended OpenSSL package but QuownNotes doesn't see it.

What do I wrong on Windows 10 ? Another machhine with OpenVPN doesn't complain and is OK.

[2016-01-04 14:29] pbek commented on #27
Which version of OpenSSL do you use and where did you get it from?

There are multiple sources, like:
<http://slproweb.com/products/Win32OpenSSL.html>
<http://www.indyproject.org/Sockets/fpc/OpenSSLforWin64.EN.aspx>
<http://www.heise.de/download/win32-openssl-7de82034858cda1cf3d6e624a0954d2b-1451915824-2647316.html>

Which Windows version does your other computer use?

[2016-01-04 14:34] pbek commented on #26
QOwnNotes just reloads your current note without asking if it was externally changed and you didn't modify it in QOwnNotes for at least one minute.
But if you did edit your note with QOwnNotes recently (under one minute) you will get prompted because it would be really bad if you are writing something down and suddenly everything is gone because ownCloud (or some other sync system) overwrites your

[2016-01-04 16:58] Yamakasi commented on #27
Hi,

The link you have set in the destopapp.

Both run Windows 10.

[2016-01-04 17:00] Yamakasi commented on #26
No, I edit them only on my Client, desktop using the desktopApp.

I sync username/Docments to Documents where Notes is in username/Documents and Notes lives in the root of the user in Owncloud.

Great app tho!!

[2016-01-04 17:03] pbek commented on #27
Which version of OpenSSL did you use? The first one: `Win32 OpenSSL v1.0.2e Light`? Did you try other versions from the page?
And did you try other versions of OpenSSL like mentioned above?

[2016-01-04 17:06] Yamakasi commented on #27
Hi,

No I need to test the other ones, but I have a quick response.

I used the 64 bits Light version.

[2016-01-04 17:08] pbek commented on #26
Thank you for your kind words, @Yamakasi !

So there is just one QOwnNotes (you didn't start more than one, did you?) and the ownCloud sync client.

Usually that doesn't make any problems.
You could try to play with the "note save interval time" setting in the *General* tab of the settings.

[2016-01-04 17:11] Yamakasi commented on #26
Your welcome, and a Happy 2016 too!

Ad the Notes folder needed to be in a owncloud share I did that, so it should be fine indeed.

I can play with that for sure. It would also be nice to be able to remve the old paths from the menu, clear some cache or so.

Would it also be possible to sync the settings into a hidden file in the Notes folder ? in that case we can connect with only the username/pa

[2016-01-04 19:17] pbek commented on #26
A happy year 2016 too you too!

You mean you want to clear the "Recent notes folders" history? That would be nice indeed. I will implement that. Thank you!

Regarding the settings file... There are things in there that possibly shouldn't be held in the cloud. And every computer needs some different settings. And you can have multiple note folders, it would be inconvenient to lose the settings ever

[2016-01-04 19:19] pbek commented on #27
Yes, please try an other one... Or maybe uninstall the old one, rebooting and trying to install a new one... It's really strange that it works on one computer and not on the other...

[2016-01-05 11:19] pbek commented on #26
Coming in version 0.71: you can now clear the recent note folders history in the settings

[2016-01-05 17:42] pbek commented on #25
I'll close this issue now until someone opens it again.

[2016-01-05 17:44] pbek commented on #26
Version 0.71 is out now where you can clear the recent note folders history in the settings.
<http://www.qownnotes.org/installation>

[2016-01-06 14:28] Yamakasi commented on #26
Nice! thanks!

[2016-01-06 14:32] pbek commented on #26
Maybe Microsoft integrates OpenSSL into Windows one day. :)

[2016-01-08 07:43] Pisoko opened #28 "Windows 7 - Connection error message: Unable ti init SSL Context:"
Hey pbek,

I've got an issue until connecting to my owncloud with your windows client:

`Connection error message: Unable ti init SSL Context:`

OpenSSL 1.0.2e (64bit) is installed. (from heiße.de)

________________________________________________
QOwnNotes Debug Information
===========================

## General Info

**Current Date**: `Fr Jan 8 08:39:53 2016`
**Version**: `0.74`
**Build date**:

[2016-01-08 07:48] pbek commented on #28
Hi @Pisoko ! Thank you for your report!
Did you install OpenSSL? Sadly this is necessary on Windows (it's mentioned in the settings).

[2016-01-08 07:48] Pisoko commented on #28
OpenSSL 1.0.2e (64bit) is installed. (from heiße.de)

[2016-01-08 07:51] pbek commented on #28
Oh, sorry. I totally overread that! I will see if I can reproduce that problem locally...

[2016-01-08 07:54] Pisoko commented on #28
if you need a testaccount on my cloud..let me know.

[2016-01-08 07:57] Pisoko commented on #28
Mayb it's a firewall problem.. do you need other ports then 80/443?

[2016-01-08 08:11] pbek commented on #28
I just installed OpenSSL (`Win32 OpenSSL v1.0.2e Light` from <http://slproweb.com/products/Win32OpenSSL.html>) on a Windows 10 box. I let the installer copy the DLLs to the system directory (that's important). After I restarted QOwnNotes I could connect to my https Server.

Are the OpenSSL DLLs in your system directory?

Port 80/443 should be enough...
If you give me an account I can test it on yo

[2016-01-08 08:13] pbek commented on #27
Regarding your SSL problem...
I just installed OpenSSL (`Win32 OpenSSL v1.0.2e Light` from <http://slproweb.com/products/Win32OpenSSL.html>) on a Windows 10 box. I let the installer copy the DLLs to the system directory (that's important). After I restarted QOwnNotes I could connect to my https Server.

Are the OpenSSL DLLs in your system directory?

[2016-01-08 08:26] pbek commented on #28
Now I did the same on a Windows 7 box, again there was a `libssl32.dll` in `C:\Windows\SysWOW64` and I could connect to my ownCloud server via https.

[2016-01-08 08:47] Pisoko commented on #28
Ok.. libssl32.dll is in C:\Windows\SysWOW64 but it doesn't work.

Try it yourself pls:
`owncloud.ufz.de`
`qbek`
`77G&jCt&$d6E`

[2016-01-08 08:53] pbek commented on #28
It did work for me under Windows 7.

## Server Info

**serverUrl**: `https://owncloud.ufz.de`
**appIsValid**: `yes`
**serverVersion**: `8.1.4.2`
**appVersion**: `0.4.1`

Are the other DLLs also in place? `libeay32.dll`, `libssl32.dll`, `ssleay32.dll`

[2016-01-08 08:55] Pisoko commented on #28
yes of cause :/

[2016-01-08 09:07] pbek commented on #28
Can you please try to copy `libeay32.dll`, `libssl32.dll` and `ssleay32.dll` to your QOwnNotes folder (where the `QOwnNotes.exe` is). It also worked for me that way when they aren't in the Windows system folder.

[2016-01-08 09:17] Pisoko commented on #28
Oh man.. I am sry.. I simply have to restart windows after that OpenSSL-Installation. Now it works fine. ;) THX!

[2016-01-08 09:19] pbek commented on #28
That's great! I'm glad it now works.
Just for the protocol, so you didn't have to (and didn't have) copy `libeay32.dll`, `libssl32.dll` and `ssleay32.dll` to your QOwnNotes directory?

[2016-01-08 09:31] Pisoko commented on #28
I don't.. they still in C:\Windows\SysWOW64

[2016-01-08 09:39] pbek commented on #28
Ok, great! I think I will include the OpenSSL library in the future, it's too much of a hassle to install it by hand. ownCloud also includes the OpenSSL library with their desktop client.

[2016-01-08 09:39] #28 closed

[2016-01-09 13:04] pbek commented on #27
Version 0.76 of QOwnNotes has now the OpenSSL DLLs included, you may want to try this version.

[2016-01-09 15:40] Yamakasi commented on #27
Good work! thanks!

2016-01-09 14:04 GMT+01:00 Patrizio Bekerle <notifications@github.com>:

[2016-01-09 21:29] pbek commented on #27
Does SSL now work on both of your computers? :)

[2016-01-09 21:36] Yamakasi commented on #27
Need to check the Windows one without it tomorrow! Thanks for the heads up
about it!

2016-01-09 22:29 GMT+01:00 Patrizio Bekerle <notifications@github.com>:

[2016-01-09 21:44] pbek commented on #27
+1

[2016-01-10 00:38] mlimacarlos opened #29 "Feature Request: Directory Categories Organization"
Hi, i'm very impressed with this software. It is cool and very simple to use.

If is possible i would like to divide in directories for organize notes. I think this helps to better organize ideas.

tks
Marcos

[2016-01-10 07:12] bottag opened #30 "database connection"
Hi. By starting the application, I get following error: unable to establish a database connection. This application needs SQLite support. I'm on MINT 17.3. Thanks.

[2016-01-10 07:35] pbek commented on #29
Thank you, @mlimacarlos for your kind words and your suggestion. It currently is possible to have more than one notes folder. I tried to explain it here:
http://www.qownnotes.org/Knowledge-base/How-to-use-the-Set-notes-folder-feature-to-categorize-notes-using-real-filesystem-directories

Does this answer your question?

[2016-01-10 07:45] pbek commented on #30
Hello, @bottag ! Thank you for your report!

That's correct, QOwnNotes needs the QtSql and sqlite.

Did you use the Ubuntu PPA (I don't know if that even works under Linux Mint) or the Ubuntu deb-Package?

[2016-01-10 07:57] bottag commented on #30
I used standalone deb-package (ppa doesn't work on mint)

[2016-01-10 08:53] pbek commented on #30
In version 0.77 `libqt5sql5-sqlite` was added to the dependencies for the Ubuntu PPA build and the Ubuntu deb-package. It will take some minutes to build and be deployed. Can you please report back afterwards if it worked for you?
And thanks a lot again for the report!

[2016-01-10 10:09] bottag commented on #30
Sorry, doesn't work :-(
Same message at the start. I've checked if the lib is installed: OK

[2016-01-10 10:17] pbek commented on #30
Is the package `libsqlite3-0` also installed?

[2016-01-10 10:26] bottag commented on #30
yes it is

[2016-01-10 10:27] pbek commented on #30
I'm already downloading Linux Mint 17.3 and will take a look.

[2016-01-10 10:33] pbek commented on #30
What terminal-output do you get if you run `QOwnNotes` on a terminal?

[2016-01-10 10:36] bottag commented on #30
QDir::mkpath: Empty or null file name (and then window popup)

[2016-01-10 10:38] pbek commented on #30
I got that too. It's really strange, Qt can't find a path to write to unter Linux Mint. I'll see what I can do.

[2016-01-10 10:41] bottag commented on #30
Ok. But don't spend all your sunday on this problem !

[2016-01-10 10:58] pbek commented on #30
Oh, I'm sorry. I just saw that Linux Mint 17.3 only has Qt 5.2.1 included. QOwnNotes needs at least Qt 5.3. You currently will not be able to run QOwnNotes. :(
I guess Linux Mint 18 will include a never version.

[2016-01-10 11:16] bottag commented on #30
I installed how here described: https://www.reddit.com/r/linuxmint/comments/3skasc/notepadqq_you_are_using_an_old_version_of_qt_521/
Doesn't work too :-(
Ok will wait 6 months.

[2016-01-10 11:20] pbek commented on #30
Which version of Qt is `qtdiag` showing you?

[2016-01-10 11:28] bottag commented on #30
OK I solved this ! Using this tutorial (without the command line specific for PhotoQt): http://photoqt.org/down?popup=mint

It works AFTER I reboot the computer. Now it work :-)

[2016-01-10 11:58] pbek commented on #30
So it really was a problem with Qt. That's great!
Don't hesitate to report other problems and ideas.

[2016-01-10 11:59] #30 closed

[2016-01-10 12:19] pbek commented on #30
Thank you again for the report. I now updated http://www.qownnotes.org/installation with instructions for older Ubuntu Linux distributions and derivatives!

[2016-01-10 16:38] mlimacarlos commented on #29
Hi pbek,
No. I understanding that it is possible.
I think in a tree view for directories from root diretory notes on left side. If i set one directory i lost other directories view.

tks for response,
Regards
Marcos

[2016-01-10 16:53] pbek commented on #29
Your suggestion would maybe be nice, but problematic since neither ownCloud notes nor the iOS and Android clients are supporting this right now. For now the list needs to be plain to assure compatibility.

Thank you for your thoughts!

Kind regards,
Patrizio

[2016-01-10 16:53] #29 closed

[2016-01-10 16:54] pbek commented on #26
I will close this issue until there are any news from you.

[2016-01-10 16:54] #26 closed

[2016-01-11 18:12] Yamakasi commented on #27
OK, I installed the new package and all checks are OK but it's doesn't sync
yet.

I need to investigate why.

But the SSL checks are good!

2016-01-09 22:44 GMT+01:00 Patrizio Bekerle <notifications@github.com>:

[2016-01-11 18:15] pbek commented on #27
So far so good. :)
What isn't syncing? Your todo items?
Because the notes are relying on the ownCloud sync client to sync.

[2016-01-11 20:09] Yamakasi commented on #27
The notes was what I saw that fast, the machine is syncing Docs tho. Need
to check tomorrow (again!)!

2016-01-11 19:15 GMT+01:00 Patrizio Bekerle <notifications@github.com>:

[2016-01-11 21:01] pbek commented on #27
Are you using ownCloud?

[2016-01-11 23:21] Yamakasi commented on #27
Sure I do :) Other Machines work, one older QownNotes install on W10 and
one OSX tested working so far. One W10 not working with the latest package.

2016-01-11 22:01 GMT+01:00 Patrizio Bekerle <notifications@github.com>:

[2016-01-12 06:00] pbek commented on #27
Do you get any messages when you start QOwnNotes on the command line?

[2016-01-12 11:40] Pisoko opened #31 "idea for better folderhandling in QOwnNotes"
Hey qbek,
my owncloudcustomers have many notesfolders to handle with.
Look at my little selfmade picture:
![recent_notes_folder](https://cloud.githubusercontent.com/assets/11957656/12262666/800f94d0-b929-11e5-9faf-89dab2ca3bd1.png)

The idea is, that you can change your recent folder without opening the menubar.
What do you make of it?

Greez Pi

[2016-01-12 11:52] pbek commented on #31
Such a thing would be possible. I'll put a note on my todo list.

[2016-01-12 11:54] pbek commented on #31
And in v0.78 you will be able to set the size of the menu bar icons manually. ;)

[2016-01-12 11:55] Yamakasi commented on #27
It works now. I have placed the Notes folder outside of the local Documents folder on this machine also and made a seperate Sync for the Notes folder.

Seems to be the solution every time.

[2016-01-12 12:02] pbek commented on #27
Great! I'll close this issue. Feel free to open an other issue if you come across anything again!

[2016-01-12 12:02] #27 closed

[2016-01-12 17:46] pbek commented on #31
from the v0.78 change log:

- you can now jump to all visited note folders with a select box above the notes list (for [Issue #31](https://github.com/pbek/QOwnNotes/issues/31))
    - this select box is turned off by default and can be turned on in the general settings

please tell me if it is what you expected

[2016-01-13 06:30] Pisoko commented on #31
That's it. THX :+1:

[2016-01-13 06:34] pbek commented on #31
:bowtie:

[2016-01-13 06:34] #31 closed

[2016-01-13 22:57] lister171254 opened #32 "Order in which notes are displayed"
I wanted to move my wife's notes from various applications into QOwnNotes. The only way to do this was to export the various files and them create them as plain text QOwnNotes files.

The notes I created all have the heading and text like
------------
Note 2007-11-01T18.00.01
========================

blahblah
------------

All this works fine, but when the notes are displayed, they are not in the

[2016-01-14 06:01] pbek commented on #32
Hello Leo,
the default sort order is modification date (last modified file comes first). Optionally you can sort the notes alphabetically (filename).

In my case I just ignored the sort order after I "imported" the notes and when I edited one because it came to the to by itself.

Keep in mind that the filename has to match the first line of the note (plus the `.txt`of the filename at the end). The

[2016-01-14 06:30] pbek commented on #32
If there would be a note importer in QOwnNotes, what features would you expect / love to see?

[2016-01-14 06:40] lister171254 commented on #32
Thanks for the quick reply; thought so.
I ended up setting the last access and modified date on the files I created for QOwnNotes to the dates of the original (exported) note. All works fine now and in the right order.

I think a note importer would be an overkill given the various export formats that float around. It only took a day to hack some python code to convert the two different file forma

[2016-01-14 07:36] pbek commented on #32
Great you solved the problem!
Hehe, I guess not everyone is so adept in coding like you. :wink:

Yes, for an importer we would need much more user input...

I'll close this issue now (until you have a related question), but feel free to open new issues if you have suggestions or troubles.

Have a great day, Patrizio

[2016-01-14 07:36] #32 closed

[2016-01-22 15:09] wayneward opened #33 "cannot open database"
hi i tried to install ive added the ppa, i get this when i try to launch see attached also in a terminal it says
QDir::mkpath: Empty or null file name
![workspace 1_103](https://cloud.githubusercontent.com/assets/11428255/12514236/2f523824-c11a-11e5-9da2-b16909d3d303.png)

[2016-01-22 15:34] wayneward opened #34 "also tried to build with QT"
i get the attached screen shot im on ubuntu 14.04
and must be missing a devel package ive had to install quite a lot to get to this stage
![workspace 1_104](https://cloud.githubusercontent.com/assets/11428255/12514902/99bd9250-c11d-11e5-84de-e0d37dfc3bc1.png)

[2016-01-22 18:14] pbek commented on #33
Hi @wayneward , thank you for your report!
From your other issue I assume you are using Ubuntu 14.04.
Which version of Qt are you using? QOwnNotes needs at least Qt 5.3 (which isn't included in Ubuntu 14.04). Did you install 3rd party Qt libraries, like `ppa:beineri/opt-qt551-trusty`?

[2016-01-22 18:17] pbek commented on #34
Hi @wayneward , thank you for your report!

Did you follow the instructions on how build QOwnNotes on <http://www.qownnotes.org/installation>? It looks like you didn't checkout the git submodules or did I miss to mention something?

[2016-01-22 19:21] wayneward commented on #33
i got it working i just added the full stop on the on the env - logged out and back in and added the api to own cloud and it works just testing now
here is a biggy - because its a qt app can we roll a click package and submit it to the ubuntu touch.. or will this not work ? as this on the ubuntu touch phone / tablet would be amazing just what its missing ? can it be built armhf from qt builder and

[2016-01-22 20:12] pbek commented on #33
So far I only found out that you personally have to request building of arm packages on Launchpad, but I yet don't know if click-builds are possible with it... Do you have any experience with Ubuntu Touch packaging?

[2016-01-22 21:14] wayneward commented on #33
Ive built a couple of webapps and tested them on the phone and them
added them to the store and they work on the phone
im wondering if i run the buid from source will it create a package for
armhf and i install on ubuntu touch?

Wayne

On 22/01/16 20:12, Patrizio Bekerle wrote:

[2016-01-22 21:34] pbek commented on #33
Are there qt-dev packages on Ubuntu Touch? And I wonder if the ownCloud sync client is available for ubuntu touch...

[2016-01-26 12:40] Olhur opened #35 "ToDo entries not loaded"
Hi!
I have encountered a bug after setting up QOwnNotes with todolist. Although everything is connected correctly and calendars are found, opening the todolist results in not showing any entries even after reloading. In console, every entry is accompanied with this log:
[code]
Do you have any idea what is wrong with either an app or my ownCloud setup?

Best regards!
Filip

[2016-01-26 12:59] pbek commented on #35
Thanks a lot for the report, @Olhur !
That really is a bug that crept in with some refactoring work.
It should now be fixed in version 0.83. You should be able to get the new version in a view minutes.

Could you be so kind to report if everythings works fine when you get the new version.

Cheers, Patrizio

[2016-01-26 13:00] pbek commented on #34
I assume this issue can now be closed, please just reopen it if there was something else.

[2016-01-26 13:00] #34 closed

[2016-01-26 13:00] pbek commented on #33
I assume this issue can now be closed, please just reopen it if there was something else.

[2016-01-26 13:00] #33 closed

[2016-01-26 13:10] pbek commented on #35
You may need to reinitialize the database in the settings dialog.

[2016-01-26 13:13] Olhur commented on #35
Yes, now it works like a charm. Thanks a lot!

[2016-01-26 13:13] #35 closed

[2016-01-26 14:10] pbek commented on #35
Thanks for the check and thanks again for the report!

[2016-01-27 21:09] bugzy opened #36 "Support for configurable remote path per note folder"
In settings > ownCloud the user seems to be required to enter a path to the "main ownCloud sync folder." The problem, however, is that I do not use ownCloud in the same way as a typical dropbox user. That is, I do not sync my entire ownCloud account using a special root directory.
ownCloud allows users to sync a preexisting local directory to an online one without requiring a special root folder.

[2016-01-27 22:15] internethering opened #37 "Gentoo overlay for QOwnNotes"
Hi,

in your releases the folder src/libraries/qmarkdowntextedit/ is empty, but it should include https://github.com/pbek/qmarkdowntextedit

why? I'm maintain for gentoo the qownnotes ebuilds in my overlay https://github.com/internethering/hering-overlay - It is inconsistent to provide static versions of qownnotes and pull the qmarkdowntextedit sources via git at instalation time. Alternativly ple

[2016-01-27 22:30] internethering commented on #37
see https://github.com/internethering/hering-overlay/blob/master/app-office/qownnotes/qownnotes-0.84.ebuild :)

[2016-01-28 06:41] pbek commented on #37
Hi Richard,

great news!
I'm happy to hear that QOwnNotes gets build for Gentoo!

About qmarkdowntextedit, I guess you didn't checkout the submodules, please visit <http://www.qownnotes.org/installation> and take a look at **Building QOOwnNotes**.

Is there anything I can help you with?

The source code in the `master` branch is meant to be used by build services.
You will find the version number

[2016-01-28 06:51] pbek commented on #37
I just realized that submodules aren't included in the GitHub source code archives. That's bad, I have to see if I can do anything about that...

[2016-01-28 07:59] pbek commented on #36
Hi @bugzy ,

thank you for your report!
QOwnNotes needs to know where the Notes are located on your ownCloud server.

I try to describe this process here: <http://www.qownnotes.org/Knowledge-base/QOwnNotes-settings-are-reporting-a-problem-with-my-ownCloud-path>

In you case you could try to select the folder above your Notes folder.
Does this already help you?

[2016-01-28 13:33] internethering commented on #37
My goal is to get the ebuild in the main portage tree. Another thing is not so good: You named the last release linux-b830-131546 but version is 0.84 - I've to edit the ebuild if I want to push a new version. See line 11 at the ebuild. It would be better to name the release linux-0.84: Then it is enough to do:

[code]

Then I can try to get the ebuild in the main portage tree ;)

[2016-01-28 15:56] pbek commented on #37
Thank you for your effort, Richard!

About the problem with git submodules in archives... GitHub uses `git archive` to create their archives and git doesn't include submodules with this command. There is little I can do about that... How bad would it be to keep the extra `git clone` in the build script?

About the release name.... There are various reasons for the long name because of troubles wit

[2016-01-28 18:00] dynobo opened #38 "Feature request: Global Search"
It would be very useful, if I could search through full texts of _all_ my notes in the current notes folder with one search. I have really many notes and it would be faster if I don't have to browse them...

Thanks a lot for your application!!!! :)

[2016-01-28 18:05] dynobo commented on #38
Sorry, I noticed I used an old version, and this feature is already implemented. :-))))

[2016-01-28 18:05] #38 closed

[2016-01-28 19:11] internethering commented on #37
`git clone` is only allowed in <package>-9999.ebuilds. The version 9999 marks ebuilds, which fetch  from the master branch. But these packages will not be updated at normal system updates. If you wan't qownnotes updates your have to reemerge. This is unpopular for people who want use automatically the newest software, one of the advantages of a rolling release distribution.

By providing ebuilds f

[2016-01-28 20:19] pbek commented on #38
Wow, you must have had a **very** old version. :grin:

[2016-01-28 21:47] pbek commented on #37
You are right, fetching `master` directly isn't good neither. I need to learn more about Gentoo packaging...
So generally a new `.ebuild` file has to be created by every release? And every `.ebuild` file has to remain and should be buildable. In addition a `Manifest` file has to be maintained.
The users of the repository uses this `.ebuild` files to build the software him/herself. Am I right so fa

[2016-01-29 00:06] internethering commented on #37
right. in most cases (usual minor-updates) is it enough to copy the latest ebuild: cp <package>-2.5.5.ebuild <package>-2.5.6.ebuild
The Manifest contains checksum amongst other things to provide security against compromised mirrors

like debian testing new ebuilds get testing keywords. older ebuilds have stable keywords. older minor version get often deleted. more informations: https://devmanual.g

[2016-01-29 06:11] pbek commented on #37
Ok, great. So it would make the most sense if I would maintain a repository myself as part of my build / deploy chain... Is it good practice to do that in a git repository, possibly even the current QOwnNotes repository?

[2016-01-29 07:04] pbek commented on #37
I think you answered the 2nd questions with <https://github.com/internethering/hering-overlay/blob/master/README.md>. So I guess a new repository would be best.

[2016-01-29 09:28] pbek commented on #37
Is it mandatory to create a `Manifest` file like <https://github.com/internethering/hering-overlay/blob/master/app-office/qownnotes/Manifest> and if yes, do you create it by hand or what tool(s) do you use? (possibly anything that is available on Ubuntu)

[2016-01-29 11:13] pbek commented on #37
And does your `app-office/qownnotes` repository already work? I wasn't able to install `qownnotes` with emerge after following your instructions on a Gentoo live CD.

![virtualbox_gentoo](https://cloud.githubusercontent.com/assets/1798101/12674163/b47d4cc0-c681-11e5-8a26-8b3216426935.png)

[2016-01-29 11:35] pbek commented on #37
I got an error after `emerge --sync`:

![virtualbox_gentoo_2](https://cloud.githubusercontent.com/assets/1798101/12674639/a30d5a90-c684-11e5-9209-433b2a5fb21a.png)

trying other git repo urls didn't help

[2016-01-29 20:48] bugzy commented on #36
@pbek Selecting the folder above my Notes folder works since the hierarchy online is /notes. Thanks.

Correct me if I am wrong, but I guess what you are trying to do with that field is calculate the folder hierarchy in the cloud, but I am wondering if there isn't an alternative way of taking care of that issue [1].

A few of thoughts come to mind:

1. I am not sure that the selection of the hierar

[2016-01-29 21:23] pbek commented on #36
Setting one main ownCloud path works great as long as all note folders are in the ownCloud path and one doesn't use selective sync. The ownCloud notes path doesn't support more than the one Notes folder anyway. But you are right, if selective sync is used it would be great to choose a remote folder for each local folder.
I can put that on my todo list, but it will be no easy task. If you want you

[2016-01-31 17:28] xenithorb opened #39 "Qt UI does not follow KDE's icon set on Fedora 23"
![snapshot2](https://cloud.githubusercontent.com/assets/10273878/12703633/f08a12ee-c815-11e5-8c4b-d2c57b5aac38.png)

I have breeze-dark set as my icon theme for obvious reasons, and you can see that the icon set being use is the default breeze theme.

[2016-01-31 17:50] pbek commented on #39
Hi @xenithorb, thank you for your report!
So far QOwnNotes doesn't follow any icon set, it has it's own icons. I just borrowed various Breeze SVG icons from KDE as icons for QOwnNotes.
A full set of dark themed icons would be great...

[2016-01-31 18:06] Dalan94 opened #40 "Internationalization"
I would like to translate QOwnNote in french but I don't find guideline in your project. I know how to translate a Qt project but I don't know how to include it in the build system. Could you provide the basis of the internationalization ? Thanks.

[2016-01-31 19:28] pbek commented on #40
Thank you very much for your offer, @Dalan94
It will be a major task to make every string translation-able! :grin:
I have put that on my todo list, but it will possibly take a while.

[2016-02-01 02:11] LiangWei88 opened #41 "Why the demo notes show again and again?"
every time i creat a new folder
I have to remove these 3 demo again and again
it is not normal

[2016-02-01 05:01] pbek commented on #41
Hi, @LiangWei88

Yes, that was intentional. Is this behavior too confusing in your eyes? Do you create a lot of notes folders?

[2016-02-01 07:13] pbek commented on #40
For a start it wasn't that hard to get a translation file for the UI and the texts that already have translation support.
Here is your translation file:
<https://github.com/pbek/QOwnNotes/blob/develop/src/languages/QOwnNotes_fr.ts>

Are you familiar with Qt linguist?
You could create a pull request for your translation, then you will get the credit for your effort!
Thanks a lot again!

[2016-02-01 09:33] Olhur opened #42 "Annoying password prompt when editing encrypted note"
Hi!
I have recently started to use built-in encrypted notes. Everything is fine till I start editing them, which is a big pain in the ass, since every minute or so the password prompt shows up and requires me to type the password in (which is not a short password...). Also, I can still read the note, so this is not protecting the content in any way (which would be highly appreciated in case of sud

[2016-02-01 09:48] pbek commented on #42
Thank you for your kind words, @Olhur :grin:

The current functionality should be that the crypto key gets expired after 10min if the note wasn't edited meanwhile. One minute doesn't seem right. Could you please provide me the output of the Debug tab in the settings?

What would be the desired functionality of the "enhancement"?

[2016-02-01 10:07] Olhur commented on #42
[code]

Hopefully that helps in any way, but I can't see it having any data that can be useful ;)

I think the time between prompts varies a little, but can't tell for sure.

Best regards!
Filip

[2016-02-01 10:25] pbek commented on #42
You you leave the encrypted note editor or are you just typing while the password dialog appears?
I assume you are using ownCloud to sync the notes, are you?
I can reproduce it under Manjaro, I will see if I can reproduce it also on my Ubuntu development rig.

Btw. do you work under KDE on Manjaro? And if yes, do you get a tray icon for the ownCloud sync client? (because I don't and I couldn't mak

[2016-02-01 10:29] Olhur commented on #42
I have tried that and it's not because of the idle state, it often shows
up when I am actively typing.
Yes, I do use ownCloud to sync, and in KDE they tray icon is there, but
hidden under the ^ (everything is being synced up properly so far).

Best regards!
Filip

On 01.02.2016 11:25, Patrizio Bekerle wrote:

[2016-02-01 10:43] pbek commented on #42
Now I'm kind of embarrassed, the icon is really where you just told me... Oh the things I tried to fix a problem that didn't existed. :laughing: Thanks a lot!

I will try to reproduce the password problem on Ubuntu later today. Thank you for your help.

[2016-02-01 12:22] pbek commented on #42
It really was a bug with the crypto key expiration.
Now the crypto key will expire after 10min without editing the note, like planned! The fix will be released with v0.87 of QOwnNotes (which I guess will be out today).
Thanks again for the report!

Can you then please report back if everything works smoothly for you?

[2016-02-01 12:23] Olhur commented on #42
Sure thing, waiting for the release then! Thank you so much :)

On 01.02.2016 13:22, Patrizio Bekerle wrote:

[2016-02-01 12:42] Dalan94 commented on #40
Yes I know QtLinguist and I can translate the text that already have translation support.
I am also a developer and I'm a little familiar with Qt so I can help you making all the strings translatable.

[2016-02-01 13:58] pbek commented on #40
That's awesome! Just give me a call if you need anything!
Please make your pull requests to the `develop` branch.
Thanks a lot!

I will start a German translation then (after I figure out how to test it).

[2016-02-01 14:08] Dalan94 commented on #40
Ok.
To use the translation you need this code in the main.cpp:
[code]
But the path to the translation must be change because it's not the same after installing QOwnNote.

[2016-02-01 16:04] pbek commented on #40
In my case the path was even `translator.load("../src/languages/QOwnNotes_" + locale);`, because the binary has to find the `.qm` files. And now I realize the `.qm` files have to be deployed along with the binary... It will be a lot of fun to integrate and test that in in the 10 or so build/package/deploy systems I maintain... :grin:

[2016-02-01 16:17] Dalan94 commented on #40
Yes it's complicated. I think that the best solution is using this `translator.load(QString("languages/QOwnNotes_") + locale);`.

And for the Linux installation, the binary and the translations will be in /usr/share/QOwnNote and in /usr/bin a script like this
[code]

When you use QtCreator you can change the working directory during the execution in the project settings so it's not a problem.

I u

[2016-02-01 17:33] pbek commented on #42
Version 0.87 is currently building, you will be able to test it very soon.
Thanks for your patience!

[2016-02-01 17:38] pbek commented on #40
Csuper has a nice logo. :smile:
I have several challenges. I need it getting to work in my local Qt Creator (with qmake), in CLion (with cmake) and on 10+ build systems. :grinning:

[2016-02-01 19:01] LiangWei88 commented on #41
The first time I run the programme, I think the demo notes are normal.
I remove them, and they show up again, but there is no explication for that.
So I think it is an sync error or a bug.
After search in google, I know it is because I don't have any note yet.

There are 2 problems.
1, no tips or explication, maybe the user will think this is a bug, and just leave.
2, every time I create new folde

[2016-02-02 05:09] pbek commented on #41
I think you are right, I will come up with something in the next version.
Thank you for your input!
I will notify you then...

[2016-02-02 06:21] LEDfan commented on #41
I must agree with the user above. I also don't like that the demo notes always show up again. However I like when they show up the first time you use the app, until you delete them. Maybe it would be the best to have a global value in the conf file which indicates if the user have deleted the notes. (if deleted in one folder don't show them in other folders)

[2016-02-02 06:26] pbek commented on #41
In v0.88 the demo notes will only be created once. (so for existing users one last time :grin:)
Can you two be so kind and report report back if it works as intended when the new version is out? Thanks a lot!

[2016-02-02 08:04] Olhur commented on #42
From what I have tested, the problem has vanished. Thanks! ;)

[2016-02-02 08:04] #42 closed

[2016-02-02 08:28] pbek commented on #42
great, thank you! :wink:

[2016-02-02 10:47] pbek commented on #40
In v0.88 the translation support in the different repositories should work pretty well. I will test after I release it.

[2016-02-02 15:11] Dalan94 commented on #40
OK, fine.
I'm working on the french translation and making all the strings translatable.
I will create a pull request when it will be finished (this evening or tomorrow).

[2016-02-02 15:34] pbek commented on #40
Awesome, you are the best! I'm looking forward to your pull request!

[2016-02-02 16:01] pbek commented on #41
v0.88 is out

[2016-02-02 16:24] pbek commented on #40
The German translation (the few strings I translated so far) works really well in v0.88!

[2016-02-02 17:22] calis2002 commented on #40
I can help you with German translation if there is a need for.

[2016-02-02 17:32] pbek commented on #40
That's great! I gladly accept your offer, @calis2002 !
Are you yet familiar with Qt linguist?
The translation file we need to translate is this one: https://github.com/pbek/QOwnNotes/blob/develop/src/languages/QOwnNotes_de.ts

A big thank you!

[2016-02-02 17:34] pbek commented on #40
In v0.89 it will be possible to select the interface language in the settings, currently QOwnNotes uses the system language.

[2016-02-02 17:36] calis2002 commented on #40
No, unfortunately not. I'm very new to programming. Just got a little bit C# and PHP knowledge in the last months.

[2016-02-02 20:00] pbek commented on #40
Good job! You should be even able to see the dialog if you have checked out the source code. Are you by chance familiar with GitHub and git so you can checkout a fork of the QOwnNotes source code to make your changes and create a pull request?

[2016-02-02 20:21] dasmaetthes opened #43 "Start in Markdown mode"
It would be nice to have the possibility in Settings to make the Markdown mode as standard view .

[2016-02-02 20:24] dasmaetthes opened #44 "Global Shortcuts"
It would be also nice to have global shortcuts, witch allow to create a new note from everywhere when QOwnNotes runs in background.

[2016-02-02 20:59] pbek commented on #44
Would be nice, I will research that. I fear that global shortcuts are an OS-thing...

[2016-02-02 21:00] pbek commented on #43
I will look into that.

[2016-02-03 00:45] LiangWei88 commented on #41
I try it. the demo no more exist. Thanks.
(It is not like you said before that show one last time. there is just not demo note any more)

by the way, If you add version number to each releases file, the user can easily find out if it use the latest version or not.

and how can I contribute for chinese tranlation for this progamme?

[2016-02-03 05:56] LEDfan commented on #41
I can confirm this is fixed! Thanks again.

[2016-02-03 05:59] LEDfan commented on #25
I'd really like to have the qownnotes support .md files. IMO it's a bid weird to have markdown files with the .txt extension. (However I understand the historical meaning of this). The notes app of ownCloud is supporting other extensions as well since October. https://github.com/owncloud/notes/pull/161

I think this is important since there are other apps which only support markdown extensions for

[2016-02-03 06:08] pbek commented on #41
Thank you, @LEDfan and @LiangWei88!

- version number: I had to struggle with the limitations of the build system. Can you please open an other issue and I will see what I can do.
- translation: That's great! Thanks a lot! Can you please open an other issue where we can discuss what you'll need.

[2016-02-03 06:17] pbek commented on #25
Trust me, I'd love to use the `.md` extension!
And I will change that as soon all other parties support it.
Thanks a lot for notifying me!
Do you know if <https://itunes.apple.com/de/app/cloudnotes-owncloud-notes/id813973264?mt=8> and  <https://f-droid.org/app/org.aykit.MyOwnNotes> support it as well? (Or do you know any alternatives for OS X and Android?)

[2016-02-03 06:25] LEDfan commented on #25
I'm quite sure the android app doesn't support it. I have no idea about the iOS app. The notes app of ownCloud creates new notes using the txt extension. Maybe it's an idea to do the same? I'll ask the android app for the same thing.

[2016-02-03 06:28] pbek commented on #25
I would like to see `.md` as default extension, but I need full support of the other apps for that... :wink:

[2016-02-03 08:13] demlak opened #45 "Android APP http urls / non https"
Hi,
for sure we all know, wh https is better than http... but not all of us use https (because of...)...
so.. desktop app on linux and windows support to use http links.. but android app not... why?

please enable support for non https links in android app..

thx a lot

[2016-02-03 08:18] pbek commented on #45
Hi, @demlak
Which Android app are you referring to?
...because I'm not the author of one :smile:

[2016-02-03 08:20] demlak commented on #45
oh.. i thought you are... because of linking directly to it:
https://f-droid.org/repository/browse/?fdid=org.aykit.MyOwnNotes

my fault... now i see their github link there =)
thx anyway =)

[2016-02-03 08:24] pbek commented on #45
That's right, I'm only linking for reference.

It really would be great to offer the "full" stack, containing desktop, web and mobile apps at the same time, but I'm already working like a madman on the desktop part. :wink:

I'll close this issue now unless you want to write an Android app... :wink:

[2016-02-03 08:24] #45 closed

[2016-02-03 08:46] LiangWei88 opened #46 "where to find the current version number?"
Hello, Where can I find the version I am using?
I want to compare to the latest version
and know if I use the newest one

[2016-02-03 08:48] LiangWei88 opened #47 "How to translate it to and other language?"
I want to contribute and translate the QOwnNote to Chinese.
How can I start?

[2016-02-03 08:51] dasmaetthes commented on #44
You can have a look at this library: [UGlobalHotkey](https://github.com/falceeffect/UGlobalHotkey).
I didn't tried it so far, when I will find time I can do it.

[2016-02-03 08:53] pbek commented on #46
Which version are you referring to? The version of QOwnNotes? You can check if there is an update with `Help / Check for updates`. In the about dialog you also find the version number.

[2016-02-03 08:57] pbek commented on #47
Thanks a lot for your support!

I created a translation file for *Chinese*: <https://github.com/pbek/QOwnNotes/blob/develop/src/languages/QOwnNotes_cn.ts>

Later I will write a tutorial.
Meanwhile I guess this would be the best guide:

- Create a fork of [QOwnNotes on GitHub](https://github.com/pbek/QOwnNotes/) and `git clone` your fork on your computer
- Install [Qt Linguist](http://qt-apps.org/c

[2016-02-03 09:18] pbek commented on #44
Sounds interesting, thank you!
Please keep me posted if you find the time to test it.

[2016-02-03 12:47] pbek commented on #40
Thank you again, @calis2002 for your great contribution, it will be released today!

@Dalan94 in case you need more information. I now tried to write a "mini tutorial" here: <http://www.qownnotes.org/Knowledge-base/How-can-I-help-to-translate-QOwnNotes>

[2016-02-03 12:48] pbek commented on #47
I now tried to write a "mini tutorial" here: <http://www.qownnotes.org/Knowledge-base/How-can-I-help-to-translate-QOwnNotes>

[2016-02-03 13:33] calis2002 commented on #40
@pbek no problem. I'm happy to contribute something to such a great project ;)

The mini tutorial is a great idea. But maybe you can add the translators somewhere in the Readme.md instead of creating an issue for every language. It would give you/us a better overview who translates what language.

[2016-02-03 14:08] pbek commented on #40
Thank you for your kind words, @calis2002 ! :wink:
Yes, I will definitely make a list somewhere too, but it's more about the "first contact".
The issues will be needed for troubleshooting in the beginning and I also don't want a single issue for all translations because that will end in notification fatigue for the good hearted translators. :smile:

[2016-02-03 14:42] calis2002 commented on #40
Ok, good Point ;)

[2016-02-03 14:51] Olhur opened #52 "Polish translation"
Hi there!
Since I am an active user of your app, I would love to contribute, at first by making Polish translation ;) So please prepare a file to be edited. Thanks!

Best regards,
Filip

[2016-02-03 15:41] pbek commented on #52
You make my day! Here you go: <https://github.com/pbek/QOwnNotes/blob/develop/src/languages/QOwnNotes_pl.ts>

Cheers, Patrizio

[2016-02-03 15:42] pbek commented on #52
Here I wrote some lines about translating QOwnNotes: <http://www.qownnotes.org/Knowledge-base/How-can-I-help-to-translate-QOwnNotes>

[2016-02-03 15:59] dasmaetthes commented on #43
Hey,
I made a fork and wanted to implement this function.
I'm stocked now in reading and ablly the settings when application is started.
Isn't the function MainWindow::readSettingsFromSettingsDialog() called on start?
How you set the old settings when application is started?

[2016-02-03 16:22] Olhur commented on #52
Question regarding style: when I cannot put a shortcut letter in the menu entry (ie. Quit translates to "Wyjście" in Polish, no way to make Q a shortcut this way), what is preferred? "Wyjście [Q]"? "Wyjście [q]"? Or just skipping it?

[2016-02-03 16:34] pbek commented on #52
Thank you for reminding me!
- please just set obvious key bindings like `Ctrl + Q` to translated and don't translate them
- you can set the `&` handlers as you like in `&Quit`

[2016-02-03 16:36] pbek commented on #43
Yes, it will be called in `MainWindow::readSettings()`. What is it that you are struggling with?

[2016-02-04 06:38] pbek commented on #41
@LiangWei88 the OS X dmg and Ubuntu deb files, that are created by Travis CI now have the version number in the filename. I had no success with the Windows ZIP yet. If that is still important to you please open an other issue for it.

[2016-02-04 06:38] #41 closed

[2016-02-04 07:34] pbek commented on #44
UGlobalHotkey uses QPlatformNativeInterface, that is currently private in Qt. So far I wasn't able to build QOwnNotes with UGlobalHotkey.

[2016-02-04 07:45] LiangWei88 commented on #46
Thanks that ok
I found it

[2016-02-04 07:47] LiangWei88 commented on #41
I created issue 46.
You anwser me there already.
That's fine, I found it.
Thanks ^_^

[2016-02-04 07:48] pbek commented on #41
:+1:

[2016-02-04 07:49] pbek commented on #46
:+1:

[2016-02-04 07:49] #46 closed

[2016-02-04 08:36] dasmaetthes commented on #43
I implemented an option in settings dialogue where you can set if it should start in edit or markdown mode. and created a pull request. (But I never worked with internationalization, so may the string isn't translation-able)
It first seemed like the settings wasn't read, but I just missed that setNoteTextEditMode() was called after again.

[2016-02-04 08:42] dasmaetthes commented on #44
You can maybe try to add:

`QT += gui-private`
in your project file, and then just

`#include <qpa/qplatformnativeinterface.h>`
should work

But I'm not sure if it still works with current QT version.

[2016-02-04 08:55] pbek commented on #44
I already did that and I had to install quite some packages to do so. But I still get a lot of errors.
Using private classes can break the app at any time with an unsupported platform or a Qt update. And it has a lot of dependencies.

[2016-02-04 09:42] pbek commented on #43
Great job! :+1:
I just did some rework on your pull requests. Now all is fine. :grin:

[2016-02-04 10:40] dasmaetthes commented on #44
There is some other [library](https://github.com/ddqd/qxtglobalshortcut5) too.
I tried this one but I get an error with the connect function, will try to find out the problem later.

[2016-02-04 10:44] pbek commented on #44
I found that one too, from what I could see it's the same issue with `gui-private`.

[2016-02-04 12:01] pbek commented on #25
CloudNotes doesn't support markdown files. :disappointed:

[2016-02-04 12:06] pbek commented on #25
I'm wrong! If the `.md` file has a correct name it works! Yay!
`.md` in QOwnNotes, here we come! Will not be easy tho... :smiley:

[2016-02-04 12:17] pbek commented on #25
@LEDfan, do you know if the Android App can also do it?

[2016-02-04 15:43] dasmaetthes commented on #44
I implemented a method working on windows, and I guess only there. I have no possibility to test it on any other OS. If you want I can make a pull request.

[2016-02-04 15:51] pbek commented on #44
Yeah, I stumbled above that too. But again, it uses Windows API functions...
We need something that works on all operating systems. :disappointed:

[2016-02-04 15:59] #43 closed

[2016-02-04 19:26] LiangWei88 opened #56 "Where is setting data store?"
I think I can just remove the folder to uninstall.
and I also search and remove the related folder in AppData.
But the next time I Unzip a newest version,
I can see my setting include the ownCloud connection information are still there.
How can I uninstall it completely?

[2016-02-04 21:29] pbek commented on #56
It depends on what operating system are you using.
[QSettings](http://doc.qt.io/qt-5/qsettings.html) is used to store settings.

[2016-02-04 23:35] LiangWei88 commented on #56
I found in the QSetting doc.
I am using windows and it store in Registry.

It would be better to provide some way to uninstall and remove all the personal data and setting.
because there is the server url, username, password ect.

And after all,should not leave anything unexpected in system after uninstall.

What do you think?

[2016-02-05 06:15] pbek commented on #56
That's an excellent idea. I will put it on my todo list. Thank you!

[2016-02-05 07:42] pbek commented on #25
I worked a lot on it yesterday and even had to change the API app for it. But there a still some nasty side effects... More work...

[2016-02-05 09:37] dasmaetthes commented on #44
As far I have seen there are also functions for Linux and Mac OS. You just have to implement them all separately. As for windows I implemented it already, I can move on maybe on weekend and implement it for Linux. But for Mac OS I wouldn't have any possibility.

[2016-02-05 09:48] pbek commented on #44
`UGlobalHotkey` should theoretically do all that, but I haven't made out all the (non-Qt-) dependencies yet and fixed all error messages. And that would just be (Ubuntu) Linux. It has to build and work on all build systems (Travis, OBS, AUR, AppVeyor..) and platforms. :)
Any help is appreciated. :+1:

[2016-02-05 09:49] pbek commented on #44
And of course we would have to make the hotkey configurable.

[2016-02-05 09:53] pbek commented on #44
If we come up with a solution that doesn't need `gui-private` then even better...

[2016-02-05 11:34] pbek commented on #52
Thanks a lot for your contribution. :tada: Please feel free to maintain and update your translation with further pull requests!

[2016-02-05 11:34] #52 closed

[2016-02-05 11:35] pbek commented on #40
Thanks a lot for your contributions! :tada: Please feel free to maintain and update your translations with further pull requests!

[2016-02-05 11:35] #40 closed

[2016-02-05 11:35] pbek commented on #47
Thanks a lot for your contribution. :tada: Please feel free to maintain and update your translation with further pull requests!

[2016-02-05 11:35] #47 closed

[2016-02-05 14:24] wexaadev opened #58 "git push probleme"
hello
i want to contribute in your project but i have some problems.
i am already add  a  " new note dialog " to give option to user to name it , i test it ,work fine .
i am newbie in git , sow when i wan to push my modification to develop branch i got error 403 no permission .
i need your help.

i want to contribute this is my first , i have some features .

error

remote: Permission to pbek/QOwn

[2016-02-05 14:24] wexaadev commented on #58
![screenshot from 2016-02-05 12 28 04](https://cloud.githubusercontent.com/assets/15630598/12848854/2f05db64-cc14-11e5-8dd8-9aa54d0c08db.png)

[2016-02-05 18:28] pbek commented on #58
Hi @wexaadev

Thank you for your interest in contributing to QOwnNotes!

**About pushing to the repository**
You can't push to the repository directly. You have to fork the repository, there is a button for that here on GitHub. Then you can push to your fork and create a pull request for the repository you forked from.

**About your dialog**
When will this dialog be triggered?
Because you already

[2016-02-05 23:42] internethering commented on #37
hey, delete the /usr/local/portage/hering-overlay and do the emerge --sync again. The Manifest-file is created by `ebuild <package>.ebuild digest`. See `man ebuild`

If you want to maintain the ebuilds for your own, create a seperate git repository for it. You should let add this to the gentoo's overlay list: https://bugs.gentoo.org/show_bug.cgi?id=567272

[2016-02-06 06:09] pbek commented on #37
Ah, thank you! I already found a preinstalled Gentoo VM image. I will try to make it work there and then report back!

[2016-02-06 06:20] pbek commented on #37
Can it be considered *good practice* if I checkout a certain git tag and fetch that tag's submodules to build the application?

[2016-02-06 08:16] elnull opened #59 "monospace font customization"
Is it possible to add an option to customize monospace font?

[2016-02-06 09:30] internethering commented on #37
Next problem with fetching sources via git at installation: you can't perform offline installation. emerge has the -f flag, so you can fetch the archives. Then you don't need internet for the emerge process ;)

[2016-02-06 09:34] pbek commented on #59
You can select the fonts for the note edit view and the markdown view. What that what you were looking for?

[2016-02-06 09:41] elnull commented on #59
I'm looking for possibility to change monospace font face in markdown viewer.
Also it would be helpful that source code in editor will be written with monospace font.

[2016-02-06 10:57] wexaadev commented on #58
hi @pbek
thank you now all its work fine
about my dialog
in my opinion i see is better to give option to user to name the note o keep the default name with date , with a dialog it s match easer  and to create communication between user and QOwnNotes  also in the future we can add some filter by names, by date by folder, some tags with color or names .

[2016-02-06 11:13] pbek commented on #59
I think I fail to understand your question. You can select every font you want in the **general settings**.

[2016-02-06 11:14] pbek commented on #59
Or do you mean to select the font of individual parts of the markdown highlighting?

[2016-02-06 11:22] pbek commented on #58
Currently you can rename your notes by editing the first line of your note. This will also result in a renaming of the note file. This behaviour is enforced by the ownCloud notes client (and the iOS and Android client) and thus also practiced in QOwnNotes.
So I still see no need for an other user interaction. :wink: You can press `Strg + Shift + F`, enter your note name and press `Enter` to create

[2016-02-06 11:23] pbek commented on #37
Thank you, good point!

[2016-02-06 11:25] elnull commented on #59
Yes, parts of text wrapped in backtick quotes (`) and blocks of source code are looking better when written with monospace font. Your markdown viewer is using monospace font in that case. So can you add an on option to change font face for that case?

[2016-02-06 11:31] pbek commented on #59
I also had such a thing in mind. It's still on my (very long) todo list. :smile:
Thank you for your reminder. I will keep it as reference and will notify you in this issue on the progress.

[2016-02-06 11:57] wexaadev commented on #58
ok
now changing in issue #5.

[2016-02-06 11:59] #58 closed

[2016-02-06 12:24] wexaadev commented on #5
i have suggestion
we can create a lib ( xml file) like that
<ownnote>
    <note   name=""  date = ""  path = "" color ="" >
        <keywords   key1 =""   key2 = ""   key3 = ""  />
   </note>
</ownnote>

if you want to keep the txt file its ok  , if not we can add a new element to lib <text>
like that its easy to sync the lib with owncloud
if its ok i can begin in creating the lib and classes for

[2016-02-06 13:13] pbek commented on #5
Do you also want to store the content of the note in this xml file or just meta data, like tags?

[2016-02-06 13:19] pbek commented on #5
Because we will never be able to have one central database file for all the notes, this would be a mess to sync with ownCloud (or other sync clients) and break compatibility with ownCloud Notes and the mobile clients.

[2016-02-06 13:27] pbek commented on #25
Finally done in the current v0.92. Could you be so kind and report back if it works like intended?

[2016-02-06 14:22] pbek commented on #37
Is it possible (and still considered *good practice*) to download two (or more) archives to build a package or is only one allowed?

[2016-02-06 14:38] wexaadev commented on #5
- PATH- DATE
  to be able to filter by folder or by date
color also can be a label  for importance .
 we keep the text file i want just collect informations  and stored in xml lib  to do some filters in local  and at every sync we update automatically the lib .

[2016-02-06 14:40] LEDfan commented on #25
Hi, thanks again for working on this app! It's working as I expected, I only discovered a bug which I'll report in a new issue.

[2016-02-06 14:43] LEDfan opened #60 "Segmentationfault"
Hi, I get a segmentation fault when switching between notes folders.

## Steps to reproduce:
 1. open qownnotes
 2. select another notes folder from the recent folder list (`Note` -> `Recent notes folder`)
 3. open a note in this folder
 4. go back to the older folder via the same menu option

Now sometimes I get a segmenation fault but not always....

[2016-02-06 14:45] wexaadev commented on #5
and we link every note with the lib .
if we have a new sync and new files created outside of qownnote we notified that and we give option to user to create some tags for it.

[2016-02-06 15:02] pbek commented on #60
Hm, I couldn't reproduce that crash. Which operating system are you using?

[2016-02-06 15:03] pbek commented on #25
I also already found a problem with removing multiple notes...

[2016-02-06 15:13] pbek commented on #5
I would be important do performance tests first... QOwnNotes already uses a in-memory sqlite database for metadata. As I once tried to store it on disk instead of memory and tested it with my 1000+ notes folder on an iMac with spinning disk I was pretty disappointed. It was unusable. :grin:

[2016-02-06 23:29] internethering commented on #37
yes, this is no problem, see: https://devmanual.gentoo.org/ebuild-writing/variables/index.html#src_uri
see also https://devmanual.gentoo.org/ebuild-writing/functions/src_unpack/ about unpacking.

[2016-02-07 05:56] pbek commented on #37
Great, then we can simply download certain tag-archives of the main repo and the submodule(s). Thanks!

[2016-02-07 07:14] pbek commented on #60
I cannot reproduce this on OS X 10.11, Manjaro Linux 15.12 and Ubuntu Linux 15.10.

[2016-02-07 07:27] pbek commented on #60
Do you have a stack trace of your seg fault?

[2016-02-07 07:56] calis2002 opened #63 "keybord key "delete" only deletes current note if multiple are selected"
Select multiple notes on the left panel and press delete on your keyboard.

Expected behavior: QOwnNotes should remove all selected notes.
Actual behavior: QOwnNotes removes only the last selected note.

![2016-02-07__08_53_27](https://cloud.githubusercontent.com/assets/4539953/12871397/7f868542-cd78-11e5-9204-b56b9f1e9c3f.png)

[2016-02-07 08:03] pbek commented on #37
I have still problems with your overlay: `qt5`
Do you have any ideas what I have missed? I didn't find anything "on the internet"...
Do I have to add an other overlay manually, that provides `qt5`?

![virtualbox_gentoo 201512 kde-4 64bit _07_02_2016_09_00_41](https://cloud.githubusercontent.com/assets/1798101/12871414/6512d66a-cd79-11e5-8513-c02bdd8cf252.png)

[2016-02-07 08:05] pbek commented on #63
Yes, I guess that would make sense. :grin: Thank you for the report!

[2016-02-07 08:12] pbek commented on #63
Done, will be released with version 0.94. Can you be so kind and report back then if everything felt good for you.

[2016-02-07 08:13] LEDfan commented on #60
[code]

[2016-02-07 08:17] pbek commented on #60
Can you please provide the first block (General Info) of the **QOwnNotes Debug Information** from the settings dialog?

[2016-02-07 08:20] LEDfan commented on #60
Oh. I just found a crucial step in reproducing the error!
New steps:
1. open qownnotes
2. create a new note in the current active notes folder
3. change the notes folder to a new directory
4. the just created note will appear in the just selected notes folder. (This is a bug maybe?) and a older note will note be showed
5. delete the note
6. change the folder again, now sometimes a segmenation faul

[2016-02-07 08:29] pbek commented on #60
Thank you.
I can reproduce the bug with just created note in the switched folder. (I'm already trying to get a hold of that one) But I still can make it crash...
I'm testing under `openSUSE Leap 42.1 (x86_64)` with v0.93 now...

[2016-02-07 16:09] pbek commented on #60
Version 0.94 is out now where I fixed the problem with a wrong note showing up after you change your note folder. Can you please confirm if this is now working for you and if this fix also had an impact on your seg fault.

[2016-02-07 16:09] pbek commented on #63
Version 0.94 is out now.

[2016-02-07 19:11] calis2002 commented on #63
Thanks, its fixed!

[2016-02-07 19:11] #63 closed

[2016-02-07 20:00] pbek commented on #63
Great! Thank you!

[2016-02-08 06:00] pbek commented on #59
In v0.95 code in the Markdown edit will now use the `Courier` font, could you be so kind and report if everything was to your liking when the version is released?

[2016-02-08 17:27] pbek commented on #56
This is now implemented in the current version 0.95. Can you please be so kind and confirm if everything works as intended?

[2016-02-08 17:27] pbek commented on #59
Version 0.95 is now out.

[2016-02-08 17:36] pbek commented on #25
@LEDfan, I will close this issue now since it is done, please don't forget to report on issue #60.

[2016-02-08 17:36] #25 closed

[2016-02-08 20:03] elnull commented on #59
I checked 0.95 and found that editor now use monospace font where it should be. It looks much more comfortable. Thank you. Can you also add an option to change monospace font face?

[2016-02-08 21:11] pbek commented on #59
Yes, I have planed that for the future.

[2016-02-09 06:41] LEDfan commented on #25
@pbek everything works perfect now, thanks!

[2016-02-09 06:42] LEDfan commented on #60
The bug with the wrong note showing up is solved as far I can see. But I still get some segmenation faults now and then. But I can't reproduce them all the time.

[2016-02-09 06:46] pbek commented on #25
Great!

[2016-02-09 06:48] LEDfan commented on #25
@pbek I can open the files with the myownnotes on ownCloud.

[2016-02-09 06:54] pbek commented on #60
You don't by any chance care to install Qt Creator and run QOwnNotes in debug mode to see what command crashed it? That would be a tremendous help!

There you would find instructions: <http://www.qownnotes.org/installation#building>
Of course you can install qt creator directly with zypper...

[2016-02-09 06:57] pbek commented on #25
Great news, I assume you are talking of `.md` files. On Android you mean? Or does myownnotes has a web app too?

[2016-02-09 18:17] pbek commented on #59
In the current version 0.96 you can now select a code font and reset each font. Can you please be so kind and report back if it works as intended.

[2016-02-09 18:38] elnull commented on #59
It works for me. Thank you for support.

[2016-02-09 18:41] elnull commented on #59
There is small issue left. New font face applies to editor but viewer still uses only Courier.

[2016-02-09 18:46] pbek commented on #59
The viewer has his own fonts. I'll see what I can do.
What country are you from (or what language/s do you speak)? Maybe you want to consider a translation of QOwnNotes. :wink:
<http://www.qownnotes.org/Knowledge-base/How-can-I-help-to-translate-QOwnNotes>

[2016-02-10 01:32] LiangWei88 commented on #56
It works great!
just miss the translate.
I will add the new translation in new releases when I have time.

[2016-02-10 05:49] pbek commented on #56
great! Thank you, I will update the `.ts` files

[2016-02-10 06:45] pbek commented on #56
I now updated the translation files so you can translate the new text. Thanks a lot. I will close this issue now.

[2016-02-10 06:45] #56 closed

[2016-02-11 06:45] pbek commented on #60
There are now debug info RPMs for Open Leap for QOwnNotes. Would you mind installing it and then see if you can get a stack trace of the crash.

<https://build.opensuse.org/package/binaries/home:pbek:QOwnNotes/desktop?repository=openSUSE_13.2>

[2016-02-11 15:27] elnull opened #65 "Plurals in translation."
I'm trying to translate application to Russian in linguist.
When I translate phrases with plurals linguist complains
"Translation does not contain the necessary %n place marker."
I think you should replace "%1" in source phrases with plurals to "%n".

[2016-02-11 15:51] pbek commented on #39
It was quite some work, but I did it.

In v0.97 QOwnNote now uses default **freedesktop theme icons**
  - for Windows and OS X there is a bundled fallback theme with Breeze icons
    that will be used when the operating system hasn't a theme set
  - this allows the usage of QOwnNotes with **dark system themes**

Could you be so kind and test v0.97 when it is out.

[2016-02-11 16:09] pbek commented on #39
v0.97 is out now. :grin:

[2016-02-11 17:19] xenithorb commented on #39
![qownnotes_icons_fixed](https://cloud.githubusercontent.com/assets/10273878/12983950/a228c440-d0b9-11e5-9351-05e0e65289bf.png)

Works great, Thanks for your hard work!

[2016-02-11 20:43] pbek commented on #65
Thats great! Thanks a lot for your effort! I guess I will look into that on Saturday...
First I have to do some workarounds for the OS X icon problem...
Of course you can make the changes yourself if you want and create a pull request. (But please tell me if you do so, so I don't do the same)

[2016-02-11 20:45] pbek commented on #39
Perfect, thank you!
Although I have to do a workaround for OS X... No icons at all at the moment even tho it worked on my Macbook while developing...

[2016-02-12 07:11] pbek commented on #39
Can you please verify that it still works in v0.98 and that the search bar in the note text edit (`Ctrl + F`) also uses theme icons?

[2016-02-12 10:35] pbek commented on #65
you should now have plural translations on the `develop` branch

[2016-02-12 12:27] itsharrie opened #66 "Notes path NOT found on server debian 8 oc 8.2.2.2"
Hi pbek,
I have trouble connecting QOwnnNotes to my owncloud server.
On clicking 'connect to owncloud server', the 'connection status' gives me 7 times OK, however the 'notes path found on server' says 'not found'.

- QOwnNotesAPI 0.4.2 is installed on the server.
- On owncloud I have the app 'Notes 2.0.0' installed and enabled.
- In the Owncloud 'Files' app directory 'Notes' is present containing

[2016-02-12 12:53] pbek commented on #66
Hi, @itsharrie ,

can you please provide me with the debug output from the settings dialog (debug tab).

Cheers, Patrizio

[2016-02-12 13:18] pbek commented on #66
And maybe this article will help to: http://www.qownnotes.org/Knowledge-base/QOwnNotes-settings-are-reporting-a-problem-with-my-ownCloud-path

[2016-02-12 14:26] xenithorb commented on #39
![qownnotes_icons_fixed3](https://cloud.githubusercontent.com/assets/10273878/13009446/66fcdf26-d16a-11e5-9627-3f9af0158b78.png)

The icons are of the correct type, but the "search backward" placement is right-aligned and z-indexed below the scrollbar

[2016-02-12 16:42] pbek commented on #39
Thank you for reporting back. Oh, what would I give if I could fix that issue with a CSS z-index, but that problem lies much deeper...

[2016-02-12 18:22] #39 closed

[2016-02-12 18:57] itsharrie commented on #66
Hi Patrizio,

Here is the debug output you asked for.
Hope it helps you find the problem.

Thanks,
Harrie

QOwnNotes Debug Information
===========================

## General Info

**Current Date**: `Fri Feb 12 19:46:06 2016`
**Version**: `0.98`
**Build date**: `Feb 12 2016`
**Build number**: `98`
**Platform**: `linux`
**Release**: `OBS`
**Qt Version**: `5.3.2`

## Server Info

**serverUrl**: `htt

[2016-02-12 19:49] itsharrie commented on #66
Hi Patrizio,

In the Settings screen there is a button called 'select main ownCloud sync folder'. Below it there is an input field called 'main ownCloud sync folder'. However, I had to select the **location (path) of** the main sync folder instead, for the connection to work.
So, I think it may be better to use the label 'location of main local ownCloud sync folder'.
This would also make it clear

[2016-02-12 20:23] elnull commented on #65
I didn't find any errors in this version.

[2016-02-12 20:23] #65 closed

[2016-02-12 20:41] elnull opened #67 "Translation enhancements."
I translated app to [Russian](https://drive.google.com/file/d/0B3bW9z-roCCkZlJlemY1ck9qck0/view?usp=sharing).
There are pair issues with text in my opinion.
1. Language names in selection box should be written in native script so that user always could read it in his own language. I made an example in my translation.
2. In my opinion, there are some strings that shouldn't be translated at all. I m

[2016-02-12 20:51] pbek commented on #66
Thank you for your kind words an your suggestion. I renamed the button now. I was searching for a better wording for a long time.
I assume it works now, so I will close the issue.

Cheers, Patrizio

[2016-02-12 20:58] pbek commented on #67
Awesome, thanks a lot! I will create the new selection and update the build scripts tomorrow. Do you want to create a pull request for the file to take GitHub credit for it?
I think you are right about 1) and 2), I will take a look at that tomorrow!

[2016-02-12 21:06] itsharrie commented on #66
Patrizio,

I still have the problem as described above.
I sent you the debug output, could you have a look at it?
Thanks!

Harrie

[2016-02-12 21:12] pbek commented on #66
Are you sure about your notesPath? It usually should be something like `/home/username/ownCloud/Notes`. And your localOwnCloudPath would then be `/home/username/ownCloud`, provided that you don't use selective sync. Did you have a chance to read the knowledge base article I posted above?

[2016-02-12 21:24] elnull commented on #67
No, I don't want to create pull request.

[2016-02-12 21:53] itsharrie commented on #66
Patrizio,

I have a local main sync folder for owncloud called **hdata** and it is located in the root directory **/** (linux).
I assume that my localOwnCloudPath is **/hdata**.
The **path of** the localOwnCloudPath should be therefore directory **/**.
If I fill-in **/hdata** I get the message 'note path (/home/harrie/hdata/system/info/qownnotes) not in ownCloud path'. You seem to presume that the

[2016-02-13 05:34] pbek commented on #67
Ok, then I will simply use your file and mention you in the change log.

[2016-02-13 05:39] pbek commented on #66
Do you use *selective sync* (of the ownCloud client)? Does the ownCloud notes app find the notes you create in QOwnNotes?

[2016-02-13 10:04] pbek commented on #67
Your Russian translation and your two suggestions are now implemented and will be released with version 0.99! A big thank you!

[2016-02-13 11:05] pbek commented on #67
Version 0.99 should be out in a few minutes.

[2016-02-13 11:06] pbek commented on #67
Please be so kind and report back if everything looks ok to you.

[2016-02-13 14:12] elnull commented on #67
I've updated translation up to version 0.99. There are left some strings that shouldn't be translated. I marked them in my translation with comment "translation is not needed".

[2016-02-13 15:00] pbek commented on #67
Thank you, I already spotted that. I will search the corresponding places in the source code.

[2016-02-13 21:50] itsharrie commented on #66
Patrizio,
Yes, I am using selective sync, I guess.
Notes made with QOwnNotes do not appear in the Ntes app in owncloud.
Harrie

On Fri, 2016-02-12 at 21:39 -0800, Patrizio Bekerle wrote:

[2016-02-13 22:13] pbek commented on #66
QOwnNotes doesn't sync your note, you need the ownCloud sync client to do that for you. Did you sync your `/Notes` folder from your ownCloud server to your local desktop computer? Can you see the text files from the ownCloud notes app on your desktop computer?

[2016-02-13 22:41] itsharrie commented on #66
Patrizio,
That did it!
It now works fine!
Thanks a lot for a great app!
Harrie

On Sat, 2016-02-13 at 14:13 -0800, Patrizio Bekerle wrote:

[2016-02-14 06:01] pbek commented on #66
Thank you for your kind words. What did you finally do to make it work?

[2016-02-14 07:00] pbek commented on #67
I now disabled the translation for all but one of your suggested spots.
I guess it would be better to let "Error Message" in the settings dialog translatable.
Thanks a lot for your help, @elnull!

[2016-02-14 07:00] #67 closed

[2016-02-14 07:51] pbek commented on #39
I finally found a fix for that, will be in the next version. Thank you for pushing me. ;)

[2016-02-14 07:54] pbek commented on #60
:question: :smiling_imp:

[2016-02-14 17:49] pbek commented on #59
Because you did such a great job with the Russian translation and delivered valuable insights I now implemented that the code font in the note Markdown view can be configured in the settings (with the help of some QFont to CSS magic). :smile_cat:
It will be shortly released with **version 1.0**.

Can you please be so kind and report back how it worked out for you.

[2016-02-14 18:15] elnull commented on #59
I checked new version. All font customizations are working fine. Thank you for support!

[2016-02-14 18:15] #59 closed

[2016-02-14 18:17] pbek commented on #59
You are very welcome! Thank you for your translation and your continuous effort!

[2016-02-14 18:56] elnull opened #71 "Markdown highlight issue"
There is a small issue with code highlight in editor mode.

These two test blocks are highlighting as code

http://pastebin.com/pcEuHkq2

while two others are not

http://pastebin.com/eCS8KtQY

[2016-02-14 20:52] pbek commented on #71
Yes, as soon as there is an empty line in the code, it isn't highlighted any more.
I'll see if I can do something about that in the hoedown parser...

[2016-02-15 07:19] LEDfan commented on #60
Hi, I installed the debuginfo package. (Good that you provide this now, in OpenSUSE there are a lot of packages like this). And now when I use your notes app I run it from a terminal however I don't encounter any segfaults anymore.

I'm quite sure it was caused by changing folder in combination with the bug that was fixed above.

Congrats with your 1.0 release! BTW will you be using semantic versi

[2016-02-15 07:19] #60 closed

[2016-02-15 07:24] pbek commented on #60
Thank you for checking and your congratulations. :smile_cat:
About the semantic versioning... I planned to continue with 1.0.1 up to 1.0.9 and then 1.1... But now that you mention it, the third part would be the patch version, what wouldn't be true... Hm, any ideas?

[2016-02-15 12:20] itsharrie commented on #66
I created a folder '/home/harrie/Notes' and I set it to sync with the
'Notes' folder on ownCloud (using the ownCloud desktop client). Then I
changed the field 'main ownCloud sync folder' (on the Settings dialog of
QOwnNotes) to '/home/harrie'. That did it.

I was confused due to the fact that /home/harrie is not my 'main
ownCloud sync folder', i.e. I do not sync all contents of my home folder
with

[2016-02-15 15:57] pbek commented on #71
I fixed that now in the markdown highlighter.
will look like that in version 1.0.1...

![screenshot-code](https://cloud.githubusercontent.com/assets/1798101/13053483/03254d24-d405-11e5-92d4-e1aeefe37426.png)

[2016-02-15 16:25] elnull commented on #71
I checked new version. Thank you for fix.

[2016-02-15 16:25] #71 closed

[2016-02-15 16:35] pbek commented on #71
Are you always building from source yourself or just for testing purposes? :smile_cat: What OS are you using, if I may ask.

[2016-02-15 16:42] elnull commented on #71
I'm building from source just for testing. Sometimes I build software when upstream version doesn't fulfil my needs. I'm using Ubuntu and Debian.

[2016-02-15 16:46] pbek commented on #71
Good man, building from source FTW :grin:
Debian & Ubuntu, at least I have those repositories covered... :wink:

[2016-02-15 17:42] pbek commented on #66
Thank you for your report!
There already is an issue for requesting better support for selective sync of ownCloud.
issue #36

To make every notes folder remotely and locally configurable will be quite some work.
It's still on my todo list.
I'll close this issue now, you can subscribe to issue issue #36 if you want.

[2016-02-15 17:42] #66 closed

[2016-02-15 18:29] robled opened #72 "Allow the new version popup dialog to be disabled"
In the case of users who install QOwnNotes via their package manager, this popup should be something they can disable so that they can get updates through normal means.

[2016-02-15 19:16] calis2002 commented on #72
Or even better check if installed via package manager and if yes don't show popup window AND settings for it at all.

[2016-02-15 20:45] pbek commented on #72
but then there also is no changelog display, with often important messages...
I will think of something...

[2016-02-16 09:56] elnull opened #73 "Last symbol is not highlighted"
In some strange case last symbol of line may not highlight correctly.
Here is an example of such note http://pastebin.com/w5McBRHq

![1455616399](https://cloud.githubusercontent.com/assets/169721/13072871/9a8d1e06-d4ac-11e5-8bdd-a8fdfbe65135.png)

[2016-02-16 10:09] pbek commented on #73
Thank you for the report.
There are some characters, that are troubling the highlighter, in this case it's the `»`.
I will see if I can get hold on that.

[2016-02-16 10:13] pbek commented on #73
Meanwhile please keep reporting if you find other characters, that do the same.

[2016-02-16 17:37] pbek commented on #73
I finally did it. It will be fixed in version 1.0.2. Please be so kind to tell me if it worked for you and thank you for reporting such stuff!

[2016-02-16 18:07] elnull commented on #73
This issue was resolved. Thank you for fix!

[2016-02-16 18:07] #73 closed

[2016-02-16 18:58] dasmaetthes commented on #44
I can understand your points.
Well but I don't see any other solution then making a own library.
I also tried UGlobalHotkey but it has do much broken dependencies.

[2016-02-16 19:09] pbek commented on #73
Great! Thank you too!

[2016-02-16 19:15] pbek commented on #44
When I have more time I will take a look into it.

[2016-02-17 00:41] mlimacarlos opened #76 "Translation to Brazilian Portuguese"
Hi,

  I want to help to translate to brazilian portuguese.

Regards,
Marcos

[2016-02-17 05:14] elnull opened #77 "External editor customization"
Could you add a possibility to edit path to external editor?

[2016-02-17 05:20] elnull opened #78 "Tables in Markdown editor"
Is it possible to add tables detection to editor's parser and output them with monospace font?

[2016-02-17 06:15] pbek commented on #76
That's awesome, thank you Marcos!
I will prepare you a translation file!

[2016-02-17 06:18] pbek commented on #76
I hope this will help:
http://www.qownnotes.org/Knowledge-base/How-can-I-help-to-translate-QOwnNotes

[2016-02-17 06:19] pbek commented on #77
I had that on my list. :grin:

[2016-02-17 06:22] pbek commented on #78
Which table syntax are we talking of?

[2016-02-17 07:34] pbek commented on #76
And here is your translation file, thank you for your help!
https://github.com/pbek/QOwnNotes/blob/develop/src/languages/QOwnNotes_pt.ts

[2016-02-17 08:39] knobhead opened #79 "Add Proxy support"
Hi,

now that is one private-cloud enabled note-taking application to my likings :) Good work! :+1:

But could you add the usual options to specify a HTTPS proxy? I'd need that in my corporate network...

Thanks!

[2016-02-17 08:49] pbek commented on #79
Thank you for your kind words, @knobhead

Would be doable, but will be quite some work implementing all the option...

[2016-02-17 08:52] knobhead opened #80 "Keyboard Shortcut Suggestions"
I'd like to suggest three more, OS-independent keyboard shortcuts:

* <kbd>Ctrl</kbd>+<kbd>PgUp</kbd> – go to next note in note list (down)
* <kbd>Ctrl</kbd>+<kbd>PgDn</kbd> – go to previous note in note list (up)
* and a keyboard shortcut to switch from editing a note to the note list (up) (with the current note being focused). I'm open to <kbd>key</kbd> suggestions here :-)

What do you think?

[2016-02-17 08:55] pbek commented on #80
I will look into that, thank you for your suggestion!

[2016-02-17 08:58] knobhead commented on #79
Hi @pbek,

Thanks for your quick reply! Unfortunately, I can't help with the code. While searching on potential workarounds on this issue I noticed that some QT applications seem to adhere to environment variables for proxy settings (`http_proxy=10.0.0.1:8080`, `http_proxy=<host>:<port>`). Might this be a starting point? This can be used in restricted Windows environments, too, most likely with a

[2016-02-17 09:06] pbek commented on #79
Thank you for your hint.
As far as I have seen Qt can also use the default OS settings for proxies, but that doesn't work on every OS... I'll have to investigate more.

[2016-02-17 12:03] enoch85 opened #81 "How do I sync with mobile?"
Hi!

Thanks for a great app. I love the fact that you update it continuously.

What I wonder is how to sync from mobile. It's not obvious what address you should put in the field. Right now I have `https://example.se/remote.php/caldav` I've also tried with `/webdav` at the end but with no luck - it says connection error.

[2016-02-17 12:06] pbek commented on #81
Hi @enoch85,

thank you for your kind words!

What do you mean by *sync from mobile*?
If you mean the QOwnNotes settings for the ownCloud server, you have just use `https://example.se`.

[2016-02-17 13:14] elnull commented on #78
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables

[2016-02-17 13:25] mlimacarlos commented on #76
Tks. I will translate QownNotes soon.

[2016-02-17 13:36] enoch85 commented on #81
I mean syncing with the [Andoid app](https://play.google.com/store/apps/details?id=org.aykit.MyOwnNotes)

Using just the main address gives me: `Not getting correct JSON from Server. Settings correct?`

[2016-02-17 13:39] pbek commented on #72
For version 1.0.2 I've implemented this behavior:

- you can now disable the automatic update dialog in the settings
    - for self-build versions of QOwnNotes or versions from repositories
      the automatic update dialog is disabled by default
- in any case you will get a flat button on the bottom right if there is an
  update available

How does that sound?

[2016-02-17 14:26] robled commented on #72
Sounds great, thanks!

[2016-02-17 14:32] pbek commented on #81
Sorry, I'm not the developer of the Android app. :smile_cat:
You may want to file an issue at https://github.com/aykit/MyOwnNotes/issues

[2016-02-17 15:26] pbek commented on #78
Hm, maybe if a line starts and ends with an `|` we could make it a code block. What do you think, would that be enough?

[2016-02-17 15:36] pbek commented on #76
:party:

[2016-02-17 15:38] pbek commented on #72
v1.0.2 is out now ;)

[2016-02-17 16:15] robled opened #82 "Provide a plaintext mode without any markdown rendering"
In "Edit" mode, some amount of markdown is rendered.  In some cases the user may prefer not to use markdown at all.  My use case is to store the following text file as a note for reference:

https://gist.github.com/robled/99b935c33194725789cb

If you paste the above text into a note some of the sections will be rendered green, others bold, others italics.  It's possible that I may have a missed a

[2016-02-17 16:20] pbek commented on #82
Do you want a setting that can turn off the markdown support for the whole application?

It would be much easier to encapsulate your text in a code block like that:
\`\`\`
your text
\`\`\`

[2016-02-17 16:25] robled commented on #82
If there was an option to disable Markdown globally I would probably use it.  I store so much plaintext as notes, so I could benefit from that as a default for myself.

One idea would be to have a plaintext tab next to the Markdown tab to allow users to easily see the plaintext without having to insert ``` manually.

[2016-02-17 16:32] pbek commented on #82
Hm, I'm not sure if viewing and maintaining an other tab with a text edit would be a great solution...
And disabling the whole markdown support for a few text-only notes doesn't seem a good choice either.

How is that handled by the mobile apps and the web app?

[2016-02-17 16:36] elnull commented on #78
It would be enough if your parser doesn't support multiline. I think the better test for tables would be search for sequential lines with same count of `| `.

[2016-02-17 16:47] pbek commented on #78
The parser is generated from a lexer of PEG Markdown Highlight.
The Lexer looks like this:
https://github.com/pbek/qmarkdowntextedit/blob/develop/lib/peg-markdown-highlight/pmh_grammar.leg

If you can come up with a lexer statement that works, I will integrate it :smile_cat:

[2016-02-17 17:18] pbek commented on #77
Is now implemented in the future v1.0.3. Does it work for you?

[2016-02-17 17:24] elnull commented on #77
Selected external editor is running fine. Thank you for solution!

[2016-02-17 17:24] #77 closed

[2016-02-17 17:27] pbek commented on #77
Hoping for your translation, as always. :)

[2016-02-17 20:31] enoch85 commented on #81
But your software is compatible with the app, right?

[2016-02-17 20:45] pbek commented on #81
Yes, both apps can read the same note files.

[2016-02-17 20:46] enoch85 commented on #81
Ok, case closed then. But if someone have information on how to sync, please write here.

[2016-02-17 20:46] #81 closed

[2016-02-17 21:12] Dalan94 opened #84 "Tracking"
I see that you add tracking in QOwnNotes. I understand that this may help you to improve the software but I have some remarks:

* You use Google Analytics which is a good tools but it's horrible about privacy
* This option is set by default, it could be a good idea to ask the user if he (yes or no) want to use the tracking instead of tell him that he can disable it in the settings
* Even if I disa

[2016-02-17 21:28] pbek commented on #84
Yes, Google Analytics is a tremendous help for getting feedback on what is going on and as we are typing here Google Analytics is tracking our every movements on GitHub, like (I guess) on 99% of all webpages...
And yes, Google Analytics hasn't the best reputation, simply because of Google's size.

Do you have a better proposition than our good old data hog?

[2016-02-17 21:54] Dalan94 commented on #84
The problem is that on website we can use some tools to block Google Analytics (I personally block all request with [Privacy Badges](https://www.eff.org/privacybadger)) when we don't want to send all our online life to Google.

And currently we can't block all the request in QOwnNotes because even if we say to QOwnNote to not send data, it send at least one request. So there is a problem.

An alte

[2016-02-18 05:37] pbek commented on #84
Thank you for raising my attention, @Dalan94. The topic gave me an almost sleepless night. :cat: Everything is a bit hazy today...

The Google analytics request you are referring to will be mentioned `sendHeartbeat` request, it's a simple "someone is using QOwnNotes. Hurray, the developer got a little bit happier" request. I can make a setting for that too.
The qownnotes.org request is from the up

[2016-02-18 07:11] pbek commented on #84
In addition to the new checkbox that disables the heartbeat I have implemented a button that leads to the general settings for the app metrics notification for version 1.0.3. Will that be satisfactory?

[2016-02-18 16:09] robled commented on #82
The mobile and web apps appear to be rendering markdown as well.  I guess I'm just looking for a self-hosted open source GitHub Gist type of feature.  This kind of thing is certainly more useful on a desktop app than on the web or mobile apps.

[2016-02-18 16:19] pbek commented on #82
So what do you propose?

[2016-02-18 16:33] robled commented on #82
Perhaps a toggle-able menu option/toolbar item to "render as plaintext" that will just insert the ``` marks at the head and tail ends.  This way the state of this setting would be saved on a per-note basis.

[2016-02-18 21:21] pbek commented on #82
What would keep you to just enter a \` character yourself (actually you just need one, not three)?
Or what is the benefit of the button? Just entering \`\`?

[2016-02-18 21:27] pbek commented on #82
Maybe entering \`\` and moving the cursor between the two characters, like the "Insert code" button here on GitHub? Maybe with a hotkey <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd>?

[2016-02-18 22:02] Dalan94 commented on #84
Sorry I didn't want you to have a sleepless night…

I perfectly understand the job of `sendHeartbeat` but it also send the message to Google that this IP address use QOwnNotes so… The checkbox work perfectly and I have no longer request to Google Analytics.

The request to qownnotes.org is necessary but why do you need to send the GAnalytics-cid, the buildCpuArchitecture… ? The only necessary thin

[2016-02-18 23:39] mlimacarlos commented on #76
Ok. I've finished translation.

[2016-02-19 02:29] suhr opened #86 "UX improvments"
This one:
* Add [UberWriter](http://uberwriter.wolfvollprecht.de/)-style distraction free UI. No buttons or menu, just pure text editing
* Add a button to show/hide the sidebar
* Make search bar [auto]hideable
* Make menu bar hideable
* ~~Add an option to choose the default header style (`#` instead of `===`)~~
* Enlarge default font size (make it at least 12)

[2016-02-19 02:33] suhr opened #87 "Incorrect note name when # header is used"
While

[code]

yields `Example` as the note name,

[code]

yields `# Example`.

UPDATE: also add an option to choose the default header style (`#` instead of `===`)

[2016-02-19 06:10] pbek commented on #84
I can bind the GAnalytics-cid to the metrics checkbox...
As for the buildCpuArchitecture, how do you think all the QOwnNotes Linux repositories and build systems (that were weeks of work to create and evolve) came into live?
Hm, for the API of the webpage I would have to restructure the whole project and possibly change the URLs too, what would render the old update checks useless. And who would k

[2016-02-19 06:11] pbek commented on #76
Awesome! Thanks a lot. There were merge conflicts, I commented on your pull request.

[2016-02-19 06:19] pbek commented on #86
Thank you for your suggestions!

I will install UberWriter to see how Wolf has done it.
Are your suggestions 2, 3 and 4 relating to UberWriter features?
As for 5: you can use what you want, but I advice against using `#` because that would go into your filename. ownCloud notes (and thus also QOwnNotes) uses the first line as file name.
As for 6, the font size the operating system suggests is used

[2016-02-19 06:26] pbek commented on #87
Are you referring to the HTML rendered markdown? I think that's how markdown is supposed to work. Even the GitHub editor behaves the same, you can test it in the comment field.
And I advice against using a `#` in the note headline (aka. name), see #86.

[2016-02-19 08:12] suhr commented on #86
This is related to hiding distracting UI elements, also some customization (why do I need a menu bar when there's a toolbox?). When you write a long note, you want to focus on the text only. You don't use the sidebar. You don't use search bar. You write text.

Another distraction free markdown editor is [ghostwriter](http://wereturtle.github.io/ghostwriter/). It shares the same idea: clean up the

[2016-02-19 08:17] suhr commented on #87
So this is a ownCloud related issue. Well, can this be fixed for people that use QOwnNotes without ownCloud?

[2016-02-19 08:22] LEDfan commented on #86
I fully agree with @suhr. Personally I don't use any of the icons in the toolbar. This is the same for almost all software I use, except 3-4 buttons I really need. (Like in thunderbird, `get messages`, `new message`, `addressbook` etc, IDE where I just have to press the build/run button etc).

I would also autohide the search bare and only show it by using CTRL-F or something like that.

@jancborc

[2016-02-19 08:28] pbek commented on #86
I will definitely look into that! Thank you for the great suggestions @suhr, and thanks a lot for the ghostwriter reference! I will have a look into its hunspell integration as well, something I wanted to try to make work for a long time but wasn't a trivial task...

[2016-02-19 08:32] suhr commented on #86
On `#` headers:

Yes, but when you create a note it inserts `===` header.

[2016-02-19 08:34] pbek commented on #87
Are we still talking about the html rendering of ` # Example` or are we talking about the file-names of the notes? We should create a different issue for the latter.

[2016-02-19 08:37] suhr commented on #87
About both sidebar note names and file names.

[2016-02-19 08:43] pbek commented on #86
Using `===` is so far the only way to get all all other characters out of the headline, that is currently the file name. Is your #87 about this issue? If yes, ye shouldn't talk about this in two different issues. :smile_cat:

[2016-02-19 08:47] pbek commented on #87
So I summize we are _not_ talking about how ` # Example` is rendered in the markdown view, correct?
And your proposition is to make a special setting (since the ownCloud notes web-app and the mobile clients are not supporting your wish yet) to remove leading `#` from file names...
Hm... that wouldn't make the headline of the note a unique identifier any more, because one could use `# Example`, `##

[2016-02-19 08:59] suhr commented on #87
The only top level header is `# Example`, so the only possible collision is between `#` and `===` headers.

[2016-02-19 09:17] pbek commented on #87
Although still a collision...

[2016-02-19 15:13] mlimacarlos commented on #76
Ok. I create a new pull request with file translated.

[2016-02-19 21:40] pbek commented on #86
Would it make sense to hide all UI elements at once with one button (& shortcut) or would it be better to have a different menu entry / button for each of the UI elements?

[2016-02-20 06:35] pbek commented on #76
Your translation will be integrated in version 1.0.3. Thanks a lot for the great work!

[2016-02-20 06:39] pbek commented on #37
I'm still out in the dark here, @internethering ;) I'd love to maintain a gentoo overlay.

[2016-02-20 09:07] pbek commented on #84
Version 1.0.3 is out now.

[2016-02-20 09:07] #84 closed

[2016-02-20 09:09] pbek commented on #76
Version 1.0.3 is out now. Thanks again for your effort and please feel free to maintain your translation in the future! :smile_cat:

[2016-02-20 09:09] #76 closed

[2016-02-20 09:36] pbek commented on #82
I have this implemented now in version 1.0.4.

[2016-02-20 11:11] calis2002 opened #90 "New Version notification not completly visible"
In Windows 10 the new version notification in the statusbar is not completly visible.
![2016-02-20__12_07_58](https://cloud.githubusercontent.com/assets/4539953/13196307/c8cf08e4-d7ca-11e5-8fff-89a6618b0fb5.png)

[2016-02-20 11:28] pbek commented on #90
And it is obviously not on the right side... I love it :)
Thank you for the report!

[2016-02-21 03:21] robled commented on #82
Thank you!  I will try this out once 1.0.4 hits the Arch Linux AUR.

[2016-02-21 07:28] pbek commented on #90
Will be fixed in 1.0.4. Thanks again for the report!

[2016-02-21 07:40] pbek commented on #90
Version 1.0.4 is out now.

[2016-02-21 07:40] pbek commented on #82
Version 1.0.4 is out now.

[2016-02-21 18:08] robled commented on #82
Works great, thanks!  I like the toolbar icon too.

[2016-02-21 18:08] #82 closed

[2016-02-21 18:10] robled opened #91 "Allow code block feature to wrap existing text when selected"
It may be the case that a user has already inserted some code or plaintext into their note and would like to easily wrap that text with the code block tick marks.  Perhaps when there is selected text the "Insert Code Block" button/shortcut could wrap the selected text with tick marks.

This feature would work similarly to the "Insert Code" feature in this bug tracker form here on Github.

[2016-02-21 18:16] pbek commented on #82
Great you like it ;)

[2016-02-21 18:18] pbek commented on #91
That's a great idea, I QOwnNotes does already the same with the *insert link* feature.

[2016-02-22 17:26] pbek commented on #84
After playing around with a Piwik installation and writing a Qt Library for it I can announce for version 1.0.5 that Google Analytics was removed in favor of Piwik.

[2016-02-22 18:43] pbek commented on #91
will be released with version 1.0.5

[2016-02-23 16:35] pbek commented on #90
Version 1.0.5 is out now, can you see the update notice button on the right side now?

[2016-02-23 16:36] pbek commented on #90
In case you haven't installed v1.0.4, this is the link to 1.0.4 for Windows:
https://github.com/pbek/QOwnNotes/releases/download/windows-b1064/QOwnNotes.zip

[2016-02-23 16:37] pbek commented on #91
v1.0.5 is out now

[2016-02-23 16:40] pbek commented on #72
I'll close that issue now.

[2016-02-23 16:40] #72 closed

[2016-02-23 16:51] calis2002 commented on #90
Problem solved, keep up the good work +1

[2016-02-23 16:51] #90 closed

[2016-02-23 16:59] pbek commented on #90
Thank you for reporting and testing, have a great evening!

[2016-02-24 17:17] pbek commented on #79
Will be made happen in v1.0.6.

[2016-02-24 19:55] dh-connect opened #93 "open several notes in new windows"
Would it be possible to open notes in several windows? because I would like to work on several notes at the same time, e.g. copy and paste within 2 notes, at the moment you loose the position in a certain note, when you jump from note A to note B, so I use a texteditor besides the notes window at the moment, it would make the work esier to stay within qownnotes

[2016-02-24 21:37] pbek commented on #93
At this point would be very hard to switch to a MDI-interface.

Although it is possible to use the *note history* to jump back and forth between notes you are editing. see: <http://www.qownnotes.org/shortcuts/QOwnNotes>
You can also use the 4th and 5th mouse button for moving in the history.

Additionally you can also bookmark positions in notes. You will find the shortcuts on above page too.

Doe

[2016-02-25 06:10] pbek commented on #93
A 3rd thing you can do is starting QOwnNotes multiple times. :grin:

[2016-02-25 14:10] dh-connect commented on #93
how can you start it multiple times? I'm working with a mac

[2016-02-25 14:27] mu-stash opened #94 "You should be able to create a .md file"
Files created are currently .txt
Many applications recognise and handle .md automatically. There is also a markdown app in owncloud (that I have not tested yet).
So, to be able to select the .md extension in settings would be much appreciated.
Thank you.

[2016-02-25 14:39] pbek commented on #93
Oh, I think OS X prevents that... But there still are bookmarks and the note history. Would they be of any help for you?

[2016-02-25 14:41] pbek commented on #94
We had that request a while ago, it already got implemented. Just take a look at the *General* tab in the settings. Does that solve your issue?

[2016-02-25 16:14] pbek commented on #80
I implemented the functionality for the first two shortcuts in v1.0.6 (also works while notes are filtered).
@knobhead, can you please be so kind and confirm they work for you.

As for the third shortcut, there already is almost similar functionality.
I updated http://www.qownnotes.org/shortcuts/QOwnNotes to make it more clear.
You can jump to the search bar and then get to the note list from ther

[2016-02-25 16:21] pbek commented on #79
v1.0.6 is now out. @knobhead, can you please be so kind and test if it works for you. :smile_cat:

[2016-02-25 17:21] knobhead commented on #80
Cool! Thanks! Works like a charm here and helps me a lot.
I think I can live with the searchbar-workaround.

Cheers

[2016-02-25 17:22] knobhead commented on #79
Works like a charm here (Win7), both with system settings and own settings in QOwnNotes! Thanks!

[2016-02-25 17:28] dh-connect commented on #93
hm no not really, but it works to copy the app to another folder and rename it, then you can open it a second app, so that you can work with 2 windows even on different screens

[2016-02-25 20:10] pbek commented on #80
Thank you for the ideas! :smile_cat:

[2016-02-25 20:10] #80 closed

[2016-02-25 20:12] pbek commented on #79
Great! It took a while to get a proxy server going to test it myself. :grin:

[2016-02-25 20:12] #79 closed

[2016-02-25 20:14] pbek commented on #93
This should work too:
http://osxdaily.com/2011/05/11/multiple-instances-application-mac/

[2016-02-25 20:27] dh-connect commented on #93
oh thanks works great, this way I don't have to update more than 1 app

[2016-02-26 07:59] pbek opened #95 "Translating QOwnNotes"
I'm happy to announce that we now have a Crowdin account as an alternative way of translating QOwnNotes.
<https://crowdin.com/project/qownnotes/>

Please feel encouraged to create or update your translations there if that's easier for you!
The community is depending on your great work!
I've updated: http://www.qownnotes.org/Knowledge-base/How-can-I-help-to-translate-QOwnNotes

ping: @calis2002 @Li

[2016-02-26 08:42] LiangWei88 commented on #95
We use cn or zh for chinese translation.
Cn is short for china/chinese in english.
Zh is short for china/chinese in chinese (zhong).
But use zn for chinese is very rare for me.
I am sure we don't use it in mainland china,
but I am not sure in Taiwan or Hongkong.

[2016-02-26 09:03] pbek commented on #95
Thank you for your answer, @LiangWei88. I found other references to `zh-CN`, maybe it's really better the migrate our translation file from `QOwnNotes_cn.ts` to `QOwnNotes_zn.ts`. Or we start using the `zh-CN` iso code in the file names...

[2016-02-26 09:07] calis2002 commented on #95
:+1: very good idea to use crowdin.
btw German is at 100% again ;)

[2016-02-26 09:26] pbek commented on #95
Thank you @calis2002! I still have to come up with a solution to merge translations on GitHub and Crowdin without destroying anything. :smile_cat:

[2016-02-26 09:29] pbek commented on #95
@LiangWei88 if your computer's system language is Chinese, did you have to select `Chinese` in QOwnNotes as language to see the Chinese user interface or was it detected by the `Automatic` setting?

[2016-02-26 12:20] pbek commented on #95
@LiangWei88, I renamed  `QOwnNotes_cn.ts` to `QOwnNotes_zh.ts`. The new strings are now translatable on <https://crowdin.com/project/qownnotes>.

[2016-02-26 13:19] mu-stash commented on #94
I guess I only needed an update.

I was using: QOwnNotes - version 0.79 - Ubuntu Linux - build 79
I am now using: QOwnNotes - version 1.0.6 - Launchpad PPA - build 106

Thank you for this quick answer, you can close this issue.

[2016-02-26 13:19] #94 closed

[2016-02-26 13:23] pbek commented on #94
Ok great, a glimpse at <http://www.qownnotes.org/changelog/QOwnNotes> also helps very often.

[2016-02-26 14:07] pbek commented on #93
I will close this issue until we come up with anything else.

[2016-02-26 14:07] #93 closed

[2016-02-26 18:16] Fabijenna commented on #95
nl is being created

[2016-02-26 18:35] pbek commented on #95
You are simply the best, @Fabijenna ! :smile_cat:
I added *Dutch* on https://crowdin.com/project/qownnotes, if you want to translate it there.

[2016-02-27 13:06] pbek commented on #86
In version 1.0.8 you can now enter a distraction free mode with a new button in the toolbar.
You can also toggle it with <kbd>Ctrl</kbd> + <kbd>⇧</kbd> + <kbd>D</kbd>.
What do you think about it?

[2016-02-28 07:02] LiangWei88 commented on #95
@pbek My computer's system language is Chinese, QOwnNotes language was detected by the Automatic setting.

[2016-02-28 07:13] pbek commented on #95
@LiangWei88, pre version 1.0.7 or with version 1.0.7 (or newer), because in v1.0.7 I changed the language file to  `QOwnNotes_zh.ts`

[2016-02-28 15:21] pbek commented on #87
QOwnNotes v1.1 will now allow the usage of `# ` markdown headlines as note title. I have have not seen any side effects. Please be so kind and report back and troubles when 1.1 is out, @suhr.

[2016-02-29 06:46] pbek commented on #87
v1.1 is out now

[2016-02-29 07:41] suhr commented on #87
Looks good, thanks.

[2016-02-29 07:41] #87 closed

[2016-02-29 08:00] suhr commented on #86
This is nice! But it needs some padding, there's too few empty space and the text is too wide.

[2016-02-29 08:19] suhr commented on #37
It requires you to enable `qt5` flag instead of just requiring qt5 dependencies.
I have no idea why would someone write a ebuild this way.
Also, git tags like `linux-b1119-064549` are not very helpful.

[2016-02-29 09:56] pbek commented on #86
Thank you, I will add more padding in v1.1.1.

[2016-02-29 10:04] pbek commented on #37
What would be the *best practice* for a QOwnNotes `.ebuild` file, @suhr?

Regarding the tag... I know. :/ the reason I had to do this is because Travis does the building and tagging, and if GitHub is down at the wrong time then the tag is blocked when I rebuild the same build (because of the GitHub troubles)... This is the reason I want to maintain an own overlay for Gentoo. And so far I tried lik

[2016-02-29 12:59] suhr commented on #37
Drop qt5 flag and specify qt5 dependencies directly, provide both versioned ebuild and 9999 one.

It's dangerous to go alone! Fork [this](https://github.com/suhr/qownnotes-overlay).

[2016-02-29 13:43] pbek commented on #37
You are my hero, @suhr!

Since the package from `SRC_URI` isn't complete anyway is it possible to drop it all along and go straight for this?

[code]

[2016-02-29 15:56] suhr commented on #37
You can *technically* do this... But I'm not quite sure if it's a good idea.
Maybe better download submodules as archives instead? But this would require specifying submodules ids as well.

[2016-02-29 16:07] pbek commented on #37
Yes, I could specify ids as well.

After too more hours I'm still stuck with error message after trying to install from <https://github.com/pbek/qownnotes-overlay> with `sudo emerge app-office/qownnotes`

![virtualbox_gentoo 201512 kde-4 64bit _29_02_2016_17_05_49](https://cloud.githubusercontent.com/assets/1798101/13400155/c955d0ac-df06-11e5-90f2-b6adf0945131.png)

[2016-02-29 16:16] suhr commented on #37
Are you on `amd64` (without `~`)? Look at https://wiki.gentoo.org/wiki/Knowledge_Base:Accepting_a_keyword_for_a_single_package
Also, the ebuild actually should also have `~x86` in keywords too.

[2016-02-29 16:35] pbek commented on #37
I now did a `echo "=app-office/qownnotes-1.1.0 ~amd64" >> /etc/portage/package.accept_keywords` and I'm building qownnotes! Thanks a lot!

Now I have something to work with.

Is there a tool to generate the `Manifest` with all the hashes? Ideally one that works on Ubuntu too...

[2016-02-29 16:41] pbek commented on #37
Unfortunately the build failed after some minutes. :disappointed:

[code]

[2016-02-29 17:17] suhr commented on #37
Well, qt overlay is well-known to be broken (I am still waiting for fixing [#566196](https://bugs.gentoo.org/show_bug.cgi?id=566196)).
Build `libpcre` with `pcre16` use flag.

Sure, it's called [`ebuild`](https://devmanual.gentoo.org/eclass-reference/ebuild/) (there's also `repoman manifest` to do it per overlay).

[2016-02-29 17:24] pbek commented on #37
:smile_cat:

Can you please give instructions for someone who is not familiar with Gentoo and who isn't seemingly getting a grip on it. :grimacing:

So I guess I have to do it by hand, since both tools aren't available in the Ubuntu repository, I execute all the packaging scripts on Ubuntu.

[2016-02-29 17:31] suhr commented on #37
I guess, `USE=pcre16 emerge -1 libpcre` should work.

Well, the [manifest format](https://wiki.gentoo.org/wiki/Repository_format/package/Manifest) is pretty straightforward.

[2016-02-29 17:38] pbek commented on #37
I think you meant `env USE=pcre16 emerge -1 libpcre`, I'm building qownnotes again... We'll see. :)

Thank you. Are you supposed to keep all ebuild files in `app-office/qownnotes` and thus create a line in the `Manifest` for every archive like you did for `qownnotes-1.1.0.tar.gz`?

[2016-02-29 17:41] suhr commented on #37
Yep.

[2016-02-29 17:46] pbek commented on #37
Omg, we did it! After several weeks of struggles I build QOwnNotes on Gentoo. :D
Now it only can get better! Thank you for your great support so far, @suhr!

![virtualbox_gentoo 201512 kde-4 64bit _29_02_2016_18_43_12](https://cloud.githubusercontent.com/assets/1798101/13403253/6b68cb6c-df14-11e5-9d47-ba7e27bf2b1e.png)

[2016-02-29 18:01] LiangWei88 commented on #95
@pbek I download it yesterdau, I am not sure it is windows-b1106 or windows-b1103

[2016-02-29 18:06] pbek commented on #95
Then everything should be ok! Thank you, @LiangWei88!
Glory awaits you at <https://crowdin.com/translate/qownnotes/1/en-zhcn> :smile_cat:

[2016-02-29 18:19] pbek commented on #37
How is detected which ebuild file has the latest version?
I did a `emerge --sync`, where the new `qownnotes-1.1.0.1.ebuild` was found and an `emerge app-office/qownnotes` where the old `qownnotes-1.1.0.ebuild` was built and installed.

[2016-02-29 18:35] suhr commented on #37
According to http://www.funtoo.org/Ebuild_Version_Encoding, `1.1.0.1 > 1.1.0`.
But better to just use `x.y.z` versions.

[2016-02-29 18:54] pbek commented on #37
Hm, I had to remove your ebuild files so that the new version was detected.
And I have to do a `echo "=app-office/qownnotes-1.1.0.2 ~amd64" >> /etc/portage/package.accept_keywords` for each version, that's annoying.

After I introduced version 1.1.0.3, I had to remove the old version again to make it work... :(

[2016-03-01 04:28] suhr commented on #37
https://wiki.gentoo.org/wiki/Handbook:X86/Portage/Branches
Stable gentoo is the way too stable.

[2016-03-01 05:55] pbek commented on #37
If that's a problem only I have encountered or other users will be able to fix it themselves I'm not concerned.

But I still have the versioning problem...
btw., what is the `*-9999.ebuild`file for?

[2016-03-01 06:06] suhr commented on #37
To build the freshest version from git. Btw, there's a bug in 9999 ebuild, it should use the `develop` branch.
Add `EGIT_BRANCH="develop"` to the ebuild.

[2016-03-01 06:08] pbek commented on #37
Ok, thank you. Right now I have to get the *detection of the latest version in the overlay* going...

[2016-03-01 06:53] pbek commented on #37
Version 1.1.1 is now out and it was found by `emerge`.
@suhr could you be so kind and try out my installation instructions to see if I did anything wrong / stupid.
<http://www.qownnotes.org/installation#Gentoo>

[2016-03-01 07:09] pbek commented on #86
v1.1.1 is out now, @suhr. How does the padding look for you?

[2016-03-01 07:10] pbek commented on #91
I will close this issue now, @robled. Please feel free to open it again if you have anything to add.

[2016-03-01 07:10] #91 closed

[2016-03-01 07:18] suhr commented on #37
Yes. `overlay.xml` is not in the repo just because, it allows you to do `layman -f -a qownnotes-overlay -o https://raw.githubusercontent.com/pbek/qownnotes-overlay/master/overlay.xml` (you need to have layman installed, but anyone already have it installed).
Then you just do `emerge qownnotes`. :smiley:

[2016-03-01 07:24] pbek commented on #37
I tried that several times yesterday, but `emerge` never find `qownnotes`.
If you say it should work I will add it to the instructions. :smiley:

[2016-03-01 07:29] pbek commented on #37
I now updated <http://www.qownnotes.org/installation#Gentoo>, thank you.

[2016-03-01 07:34] suhr commented on #86
Well, I expected more padding. Do you know, how firefox reader mode looks like? Or web blog themes [like on Medium](https://medium.com/@sdboyer/so-you-want-to-write-a-package-manager-4ae9c17d9527). Or even github comments. Ghostwriter have different options for padding, but all of them add a lot of it, also they constant text width.
Also, you should not pad scrollbar, it should look like in your b

[2016-03-01 07:39] pbek commented on #86
I'll see what I can do. Thank you for the suggestions.

[2016-03-01 07:42] suhr commented on #86
This may be useful: http://graphicdesign.stackexchange.com/questions/13724/recommended-column-width-for-text-reading-digital-vs-printed

[2016-03-01 07:47] pbek commented on #86
:+1:

[2016-03-01 07:51] internethering commented on #37
:+1: I removed Qownnotes from my overlay.

[2016-03-01 07:59] pbek commented on #37
I struggled for weeks to make that happen. :stuck_out_tongue_winking_eye:

[2016-03-01 09:55] internethering commented on #37
This should work without problems:

[code]
;)

[2016-03-01 09:58] pbek commented on #37
Thank you, if you like you can do a pull request directly to <https://github.com/pbek/QOwnNotes/blob/develop/build-systems/gentoo/qownnotes.ebuild>

[2016-03-01 20:16] Letterus opened #97 "No feedback from UI while getting versions or deleted notes"
## Steps to reproduce:
1. (Select a note)
2. Click the icon to fetch versions of the note or deleted notes many times

## Expected behavior
1. The icon is blocked while the application is fetching information from the server and as long as no other note is selected.
2. The user is seeing a signal indicating the app is doing something.
3. The wanted information is then shown once.

## Actual behavi

[2016-03-01 20:25] Letterus opened #98 "Mac OS X: Error message "file changed externally" while typing when OwnCloud client app is used"
## Steps to reproduce

Use Mac OS X 10.11.3 and OwnCloud client 2.1.1. Edit a note within the OwnCloud sync directory.

1. Set interval to save file to 10 or 15 seconds.
2. Edit the note continuously (error does not happen when you pause typing in the moment the OwnCloud client syncs).

## Expected behavior
The error message "file changed externally" is only shown when the file was actually change

[2016-03-01 20:28] Letterus opened #99 "Feature request: Support a keyboard shortcut to print a note"
Currently you have to use the menu if you want to print a note.

Proposal: Support keyboard shortcuts like Command/Ctrl-P and Command/Ctrl-Shift-P to print text or markdown of a note.

[2016-03-01 20:31] Letterus opened #100 "Feature request: Support moving notes via drag and drop"
Currently you have to switch to the Finder (Mac OS X) to move a note in or out of QOwnNotes.

Proposal: Support drag and drop into and from the window/list (and icon?) of QOwnNotes to move note files.

[2016-03-01 20:33] pbek commented on #98
Thank you for your report, @Letterus!
QOwnNotes gets notified by the filesystem if a file (case 1) or something in the directory (case 2) was modified. QOwnNotes then additionally checks if the content of the file differs before firing up the diff-dialog. So far I wasn't able to reproduce this behavior reliably.

[2016-03-01 20:35] pbek commented on #97
Thank you for your report, @Letterus!
I will look into this matter.

[2016-03-01 20:35] pbek commented on #99
Thank you for your report, @Letterus!
I'm sure we can do that. :)

[2016-03-01 20:37] Letterus opened #101 "Feature request: Support OPML"
For a long time my favorite app for taking notes (Mac OS X) was OmniOutliner. I do not want to use it anymore because of its proprietary file format. But I'd like to take notes using the OPML standard.

This would/should bring the following benefits (and maybe some more):
- structured notes using hierarchy
- folding and unfolding of structures in the UI - better overview
- creating tables (using m

[2016-03-01 20:37] pbek commented on #100
Thank you for your report, @Letterus!
So you want to move notes from a folder in Finder to QOwnNotes, am I correct?
I'm not sure how good that will work cross platform and cross file browser, but I will look into it.

[2016-03-01 20:40] pbek commented on #101
Thank you for your request, @Letterus!
Wouldn't that break compatibility with ownCloud notes and the iOS and Android apps? :smile_cat:

[2016-03-01 20:42] Letterus commented on #98
Ok, thanks for answering. I experienced similar weird problems when I used the Seafile client - there one problem was that I am using OS X Server where my home dir is mounted via network volume. Maybe OS X/the sync apps do some weird file modification on such networked volumes. I'm gonna retest this issue on a regular OS X device/user with regular home dir.

[2016-03-01 20:44] Letterus commented on #101
Hm, true. :-)
Would only be useful if those apps ignored anything but .md/.txt notes.

[2016-03-01 20:46] Letterus commented on #100
Yep. Great, thanks. :-)

[2016-03-01 20:46] pbek commented on #98
Every now and then I even get a directory change triggered which for QOwnNotes can also mean that a note was deleted externally so all the notes have to be re-read. Only happened under OS X so far...

[2016-03-01 20:53] pbek commented on #101
In my opinion OPML is far too much markup and not very suited for to be written by human hand. The same goes for HTML... QOwnNotes is for *plain text* notes, formatting is done with markdown syntax.

[2016-03-01 21:05] Letterus commented on #101
Yes, plain text editing would be no solution for this. ;-)

[2016-03-01 21:16] pbek commented on #101
I will close this feature request for now, but thank you for your suggestions!

[2016-03-01 21:16] #101 closed

[2016-03-01 21:38] Letterus opened #102 "Make updating easier on OS X"
Currently updating the app is a little bit complicated using OS X: You have to download the dmg file, install the app manually and then change the security settings (right click, open, admin password) to make the app run after an update.

Proposals:
1. Sign the app using a certificate from Apple to make the app run after an update immediately (via click into the dock f.e.)
2. Use an automated upda

[2016-03-02 05:47] praxiq opened #103 "Can hide toolbar, can't show it again!"
Most of the app's functionality is accessible through the toolbar at the top of the window. On OSX, when I right-click on that toolbar, it opens a menu with a single checkbox and no text. When I select that menu item, the toolbar disappears.

The only way I could find to get the toolbar back was to go to _Settings > General > Clear app data and exit_.

It should either be impossible to remove this

[2016-03-02 05:55] pbek commented on #102
Thank you for your suggestions!
1. Yes, would be great, although it requires a 100 EUR per year Apple Developer Account
2. Suggestions are welcome what would work here for Qt
3. Yes, would be nice, although it requires a 100 EUR per year Apple Developer Account, is a big pain to create and maintain (can't be automated), each update can take a week or two until Apple approves it and it's not even c

[2016-03-02 05:57] pbek commented on #103
Thank you for your report, @praxiq!
I think that's true, QOwnNote stores the state of the toolbar (you can also move it around). If someone would remove it that would be saved too.
I will look into that.

[2016-03-02 06:56] pbek commented on #86
The notes in the distraction free mode will now have a viewport width of 60 `O` characters in v1.1.2. The viewport will resize automatically if the width of the window changes. How does that sound for you, @suhr?

[2016-03-02 07:35] suhr commented on #86
Nice. But make an option to choose between 60, 80 and 95 (100?) characters width. Different users may have different preferences (for example, I use “wide” editor width in ghostwriter, which is ~100 characters).

[2016-03-02 16:45] pbek commented on #86
@suhr, I've done that too now. Version 1.1.2 is out now, what do you think?

[2016-03-02 16:46] pbek commented on #103
Version 1.1.2, where I made a new menu entry for it, is out now. Does that solve your problem, @praxiq?

[2016-03-02 16:59] pbek commented on #37
@suhr, @internethering, did the update to v1.1.2 work for you on Gentoo?

[2016-03-02 17:09] pbek commented on #99
Done. It will be released with version 1.1.3.

[2016-03-02 17:38] suhr commented on #86
Great! Now distraction-free mode looks like it should look.
(“Medium” width is a bit too wide (~10 characters wider than ghostwriter “Wide”) though. But instead “Narrow” have almost the perfect width)

Customizable ordinary UI might be a nice feature too, but I believe it's not very important. You probably could also improve styles of both rendered and not rendered markdown, but I have little know

[2016-03-02 17:40] suhr commented on #37
Yep, it works fine.

[2016-03-02 17:47] suhr opened #104 "Markdown highlighting is kinda slow"
It should react instantly, but instead it takes about about 1-1.5 seconds to highlight something like `*test*`.

[2016-03-02 18:50] pbek commented on #86
Thanks for the feedback, I used your 60/80/100 suggestions. Lets leave it there for now, you can open a new issue if you have any more insights after using it for a while.

[2016-03-02 18:50] #86 closed

[2016-03-02 18:51] pbek commented on #37
Makes me happy. I will close this issue for the time being. Thanks a lot for helping!

[2016-03-02 18:51] #37 closed

[2016-03-02 18:54] pbek commented on #104
Thank you for the report, @suhr. The highlighting is done every second by a customized version of PEG Markdown Highlight. Do you think that is a problem?
I didn't want to highlight more than once a second because the possible load for huge files...

[2016-03-02 19:23] suhr commented on #104
Yes, editing doesn't feel smooth.

You can parse markdown in a small window before parsing the whole file, for example.

[2016-03-02 21:24] pbek commented on #104
Can you please explain in more detail what you are referring to. :smile_cat:

[2016-03-03 03:10] praxiq commented on #103
Yes, perfect! 11-hour turnaround between reporting a bug and a new release that fixes it? I'm impressed! :)

[2016-03-03 03:15] praxiq opened #105 "Feature request: Paste and drag-and-drop of images"
The existing "Insert Image" command is great, but it'd be nice if we could also get images into notes by pasting them from the clipboard, or by dragging and dropping an image file into the note. The result of either of these should be the same as the current "Insert Image" command - the image file would be copied into (or when pasting, created in) a "media" directory inside the notes directory. (I

[2016-03-03 03:18] praxiq opened #106 "Feature request: show note file/directory in file manager"
For those of us who don't use OwnCloud but store our files locally, and sometimes want to do something with the files outside of QOwnNotes, it'd be awesome if, when right-clicking on a note, there was a "Show in Finder/Explorer/Whatever" option that would navigate to that location in the OS-appropriate file manager.

[2016-03-03 04:23] praxiq opened #107 "Feature request: Secure, portable encryption"
Being able to encrypt notes is a pretty cool feature. As I understand it, the "Encrypt note" command uses [SimpleCrypt](https://wiki.qt.io/Simple_encryption_with_SimpleCrypt) - is that correct?

There are two main problems with this approach:

- SimpleCrypt does *not* provide strong encryption! In fact, reading their description of the algorithm, it hardly qualifies as encryption at all, by the mo

[2016-03-03 06:00] suhr commented on #104
I'm not actually referring anything. Just a simple idea:
* Editing usually happens in a small area (even with multiple cursors), and parts of text with markup are usually quite short.
* Parsing small amounts of text is (or *should be*) quite cheap
* So we can have a small window around the cursor (for example, ~1024 bytes or even more) and parse&highlight text in it immediately on change
* You sti

[2016-03-03 06:09] pbek commented on #103
Thank you, I had to finish the #86 task first. :)

[2016-03-03 06:09] #103 closed

[2016-03-03 06:10] pbek commented on #105
Thank you for your suggestion, @praxiq. I will look into that!

[2016-03-03 06:12] pbek commented on #106
Thank you for your suggestion, @praxiq! I'm not sure how to do that cross platform, but I will look into it. Currently there is a *open note in external editor* function and you can configure that editor in the settings.

[2016-03-03 06:19] pbek commented on #107
Thank you for your suggestion, @praxiq! You are right about SimpleCrypt. It's not using a strong encryption. We need something that can be integrated into Qt (a Qt library would be *very* handy, ideally without crazy dependencies) and works cross platform.
Do you have any suggestions?
My next best choice would be to put it in the hands of the users and add two lines in the settings, one for a comm

[2016-03-03 06:27] pbek commented on #104
That if the whole markdown file is one big code block (like I know some people are using it)?
And so far I only was able to parse the whole `QTextDocument` of the `QTextEdit` object with the highlighter. It has to set the styles directly in the document...
Do you have any suggestions for a better markdown highlighter for Qt `QTextEditor` that does everything we are currently doing. I wasn't aware

[2016-03-03 06:32] suhr commented on #104
Um... Nope. I may know a bit about parsing, but I don't know Qt.

[2016-03-03 06:37] pbek commented on #104
Currently the highlighting for the `QTextEdit` is done here: <https://github.com/pbek/qmarkdowntextedit/blob/develop/highlighter.cpp> in `QMarkdownHighlighter::highlight()`.

[2016-03-03 07:07] pbek commented on #104
Of course we can always make a setting that allows to set the ms time interval between highlighting commands, most systems would allow smaller intervals.

[2016-03-03 15:49] praxiq commented on #107
I don't see an easy library to handle any of the encrypted zip formats. Offloading the work to a command-line tool makes sense - GPG could work. 7zip is a bit more user-friendly, especially for windows/mac and gui users. (The basic "zip" command-line tool has encryption, but I don't think it's very secure.)

[2016-03-03 15:57] pbek commented on #97
This is now implemented in the new version 1.1.3. Please be so kind and report back if everything works fine.

[2016-03-03 15:57] pbek commented on #99
This is now implemented in the new version 1.1.3. Please be so kind and report back if everything works fine.

[2016-03-03 16:17] pbek commented on #107
So I guess, unless someone else has a great idea which Qt library to use we'll stick with a configurable, external tool.

[2016-03-03 16:33] Letterus opened #108 "Bug: 1.1.3 lost preferences after installation"
After installing version 1.1.3 on OS X I was asked to select the Notes directory. QOwnNotes forgot this setting as well as ownCloud main-dir, server-credentials, update-interval and sending of debug information/heartbeat.

[2016-03-03 16:37] Letterus commented on #97
Getting deletes notes works nicely. Versions of notes as well, but I would expect the "get versions" icon to be disabled when no note is selected. Instead it fetches the versions of the last selected note currently. Eventually this might be confusing (f.e. when the last time of having selected a note is some days ago).

[2016-03-03 16:38] Letterus commented on #99
Works nicely. Thank you!

[2016-03-03 16:43] Letterus commented on #107
As far as I know NaCl is a secure encryption solution providing a C++ interface. Even though it is not a Qt library: https://nacl.cr.yp.to/

[2016-03-03 16:47] pbek commented on #108
Thank you for reporting, @Letterus!
I just updated as well under OS X and I can't reproduce your problems.
I'm currently searching the source code for changes that would make that happen.

[2016-03-03 16:51] pbek commented on #108
I can't find anything unusual.
Also nothing unusual while building <https://travis-ci.org/pbek/QOwnNotes/jobs/113434419>
Did you update from version 1.1.2 to 1.1.3?

[2016-03-03 16:55] pbek commented on #97
Thank you for reporting back.
Do you have a note visible in the note edit area while you have no note selected? Some note is always open your have you removed all notes?

[2016-03-03 16:55] pbek commented on #99
Ok, great!

[2016-03-03 16:55] #99 closed

[2016-03-03 16:56] Letterus commented on #108
Uh, no. From 1.1.1 to 1.1.3.

[2016-03-03 16:57] Letterus commented on #97
Yes. Alright. One note is open. Then this makes sense. The other icons work the same way. ;-)

[2016-03-03 17:01] pbek commented on #107
Thank you for your suggestion, @Letterus!
Hm, the latest version is five years old and I can't find a license agreement...
The package has quite some files and they say: `NaCl works on a wide variety of UNIX-like systems, including Linux, BSD, Solaris, etc. `... Nothing about OS X and Windows. :)

I have to investigate more...

[2016-03-03 17:07] pbek commented on #108
I just updated an other Mac from 1.1.2 to 1.1.3 and still didn't have your issues.
Did you loose all your settings or just the one you mentioned?

[2016-03-03 17:08] pbek commented on #108
I updated several Linux boxes. No troubles...

[2016-03-03 17:08] pbek commented on #97
Ok, great! :)

[2016-03-03 17:08] #97 closed

[2016-03-03 21:27] Letterus commented on #108
I did not loose all settings. Font settings seem to have survived.

Maybe just close this issue. I'll report when I know something new.

[2016-03-03 21:33] pbek commented on #108
I can't think of anything other that might have cause this than something happend to the settings plist file.
Feel free to open the issue again if you found something!

[2016-03-03 21:33] #108 closed

[2016-03-03 21:34] Letterus commented on #107
I think it should work on OS X, but I'm unsure of Windows. libsodium seems to fill this gap as a newer piece of software - but I have no information about its cryptographic quality: https://github.com/jedisct1/libsodium

[2016-03-03 21:38] Letterus commented on #107
But, to be true: What I'd like the most would be a solution compatible with a JS crypto lib. That way it would be possible to develop a JS client, booted from an ownCloud app, which could handle the encrypted notes within a browser and thus giving nice app-independend end-to-end-encryption.

[2016-03-03 21:42] pbek commented on #107
Are the two compatible? That would be awesome. So far I haven't found out if you can encrypt a string just with a password...

[2016-03-03 21:54] Letterus commented on #107
Seems to be so. API wise you might compare https://download.libsodium.org/doc/secret-key_cryptography/authenticated_encryption.html
and
https://github.com/jedisct1/libsodium.js/blob/master/wrapper/symbols/crypto_secretbox_easy.json

[2016-03-04 05:34] pbek commented on #107
As long as we can use the note to store the encrypted text and the user only needs to remember a password it should be ok.

[2016-03-04 13:58] Letterus commented on #107
"The crypto_secretbox_open_easy() function verifies and decrypts a ciphertext produced by crypto_secretbox_easy()." Those two functions should do it.

[2016-03-04 16:53] pbek commented on #107
So far I don't even remotely get it to work with QOwnNotes... :/

[2016-03-04 17:13] Letterus commented on #107
What do you mean by "remotely"?

[2016-03-04 17:23] pbek commented on #107
that I failed on many levels... so I wanted to try QCA (and its ng fork), that both are terribly unmaintained and I fear even if I get it QCA to work on every platform in QOwnNotes (it has a lot of dependencies) it will increase the double of QOwnNotes.

[2016-03-04 17:25] pbek commented on #107
If anyone knows a small Qt C++ library I'm all ears...

[2016-03-04 18:40] pbek commented on #100
In v1.1.4 there will be support for copying notes from a file manager to QOwnNotes via drag and drop.

[2016-03-06 14:24] Letterus commented on #107
Maybe http://botan.randombit.net/manual/cryptobox.html would work? It is used by Kullo.net for their Qt application.

[2016-03-06 14:46] pbek commented on #107
Do they have a C++ Qt client on <https://github.com/kullo>?

[2016-03-06 14:58] Letterus commented on #107
At least partly as their libkullo. See https://github.com/kullo/client-libkullo/blob/master/kulloclient/crypto/symmetriccryptor.cpp

But I don't think their rather complex private-/public-key encryption is what you need. But maybe it helps for implementing the Botan lib. But I think using the cryptobox function is an easier solution than using the "Pipe and Filter" API.

[2016-03-06 15:58] pbek commented on #105
- added support for dragging and dropping images into notes
- added support for copying and pasting images into notes from a file manager
- added support for copying and pasting images from an image manipulation software into a note

[2016-03-06 16:02] pbek commented on #105
Version 1.1.4 is now out, could you be so kind and report if it works as desired.

[2016-03-06 16:03] pbek commented on #100
Version 1.1.4 is now out, could you be so kind and report if it works as desired.

[2016-03-06 19:14] Letterus commented on #100
Yeah, great, that works! Thank you!

Even more useful for me would be if
- you could drag the file on the QOwnNote application icon as well
- the other way around was possible, too. ;-)

[2016-03-06 20:43] pbek commented on #100
Can you please describe both cases in more detail.

[2016-03-06 20:50] Letterus commented on #100
Of course:
1. Drag a txt/md-file onto the icon of the app (OS X: either in Finder or in the Dock) - the result should be the same as with the current change: copy of the file into QOwnNotes/the notes directory.
2. Drag a note out of the list and move it (a file icon or something should show up to symbolize the process) to a place within the file manager: the file should be copied to this place.

O

[2016-03-06 20:52] Letterus commented on #108
Hm, after updating to 1.1.4 the same happened again. Weird: Some preferences were kept: The ownCloud password (all other login information was lost) and the interval for saving the file.

[2016-03-06 21:02] pbek commented on #107
This might even be a better lead: <https://github.com/qtproject/qt-creator/tree/master/src/libs/3rdparty/botan>

[2016-03-06 21:05] Letterus opened #109 "Bug/Problem: Move/copy a note via context menu"
When I right click a note in the notes list (OS X), I get a context menu that shows some items, two of them: "Move to…" and "Copy to…" When I select them I get a submenu showing one empty item (no text).

I suppose these menu items are to copy/move the note(s) to a different place in the file system? When it should be this way I would expect the menu item to open a dialog which would let me select

[2016-03-06 21:06] pbek commented on #108
I have updated to OS X systems and had no problem... Maybe a permission problem on your Mac? Maybe fixing the disk file permissions with disk utility helps?

[2016-03-06 21:07] pbek commented on #100
I will investigate some more...

[2016-03-06 21:08] Letterus commented on #108
Good idea. I'm gonna try.

[2016-03-06 21:09] pbek commented on #109
These context menus are for copying/moving notes to other notes folders. I guess you haven't selected an other note folder yet.

[2016-03-06 21:13] pbek commented on #107
The question remains if there is a js/php library to de- and encrypt that is compatible with botan's way of doing it (and which encryption from botan to use in the first place)... (I don't know if libsodium.js can do that)

[2016-03-06 21:19] Letterus commented on #109
Ah, now I understood. I tried to create a folder in the notes folder but it was not recognized. When changed the base notes dir it worked. ;)

But: If I have chosen only one notes dir I would the expect the context menu to be disabled (and the submenu empty) or to be informed about what to do: "Choose a second notes folder using the Notes menu to enable this feature." or something similar.

[2016-03-06 21:24] Letterus commented on #107
Would be nice to have a crypto expert who could say if AES-256 or something would be the way to go. Then it would be easily testable.

[2016-03-07 04:36] mjbrancato opened #110 "HTML Issue"
When saving HTML code as your note, there is no way to go back and edit the HTML because the application shows it as HTML, when it should be as pure text.

[2016-03-07 05:47] pbek commented on #110
Thank you for your report, @mjbrancato!
Can you please describe in more detail what you are doing, I can't reproduce this behavior.

[2016-03-07 05:48] pbek commented on #109
I will look into that.

[2016-03-07 14:29] minusquare opened #111 "Cannot connect to my Qownnote from ubuntu desktop to my owncloud Qownnote API on amazon EC2"
Hi!
(1)Created Webserver https://magicbits.net on amazon ec2 micro instance also running on ubuntu server 14.04 LTS (JUST TRYING)
(2)Installed owncloud 8.2  in /var/www/html/cloud [SUBDIRECTORY OF MY WEBROOT /var/www/html.
(3)Installed and enabled various apps including Qownnote API
 [OWNCLOUD 8.2 SHOWS IT AS EXPERIMENTAL]
(4)My cloud is perfectly accessible via https://magicbits.net/cloud
(5)Inst

[2016-03-07 14:35] pbek commented on #111
Can you please test if task syncing works. It doesn't need the QOwnNotesAPI.
Do you have access to your server's Apache and ownCloud error logs? It seems you are getting a `Internal Server Error`.

[2016-03-08 11:32] pbek commented on #109
This is already implemented. You should not get a context menu for moving and copying notes if your note folder history is empty. Could you please send me the line with `recentNoteFolders` from the debug information in the settings dialog to see what's in there...

[2016-03-08 11:52] pbek commented on #100
I have not yet found a way to do that in Qt. Do you know a Qt application (with source code) that is able to accept drops on the application icon of the running app in the task bar?

[2016-03-08 12:15] Letterus commented on #100
In the moment I can't remember one.

But maybe this does help? http://doc.qt.io/qt-4.8/qfileopenevent.html

[2016-03-09 05:52] pbek commented on #100
Thank you, I will investigate. ;)

[2016-03-09 06:31] pbek commented on #100
Sad: This class is currently supported for OS X only.

[2016-03-09 13:42] pbek commented on #105
ping @praxiq

[2016-03-10 13:29] offerlam commented on #105
Hi

None of it works on the windows version?

im still learning though so i may do some wrong?

im right that Qownnotes should work with the ownnote app in owncloud right?

so im assuming that i make my notes in the left windows and should be able to drag and drop images into the right windows when in the Edit tap.

If this is true its not working in windows application

[2016-03-10 13:38] pbek commented on #105
Thank you for your report, @offerlam

No, QOwnNotes doesn't support ownNote.
<http://www.qownnotes.org/Knowledge-base/Does-QOwnNotes-support-ownNote>

If you drop an image into a note some markdown code should be inserted. Does this work as I described it?

[2016-03-10 14:05] offerlam commented on #105
im not sure what you mean..

If i drag and drop and image from my desktop into the edit tap of a note i can see it just points to file:///C:/bla/bla/bla

after a little while i get this next to the text [Absalom_map](file://media/24205.jpg)

If i go to the markdown tap I can see the same line

file:///c:/bla/bla/bla and than there is a little paper icon next to it...

hope that helped..

regarding

[2016-03-10 15:21] pbek commented on #105
Thanks again for reporting this, @offerlam. It seems that no Windows users inserted images so far. :smile:
The following should now be fixed under Windows:
- dragging and dropping of images into notes
- the image preview in markdown mode
- opening of links to local files

Can you please try again with version 1.1.5, that was just released and is currently building. Thanks a lot.

Regarding your no

[2016-03-10 15:24] offerlam commented on #105
testing now.. hold on

[2016-03-10 15:30] offerlam commented on #105
its working with drag and dropping a picture..

but if i go to a homepage with screenshots say a guide to setup something and I mark it all and say copy. I don't get the screenshots when i paste. Only the text.

this goes aswell for owncloud pages contaning pictures..

[2016-03-10 15:38] pbek commented on #105
Thank you for testing!
Currently you can paste an image that was in the clipboard.
Getting images out of copied rich text would be a completely different matter, that I can investigate if you open a new issue for it.

[2016-03-10 15:43] offerlam commented on #105
i will.. and no problem

[2016-03-10 15:47] offerlam opened #112 "Feature Request: copy paste highlighted text and images into QownNotes"
Hi,

When i highlight text and images say a installation guide from a homepage or other media I only get the text pasted in QownNotes when i paste it. It would be nice if it took everything like pictures and such.

Also samething happens when doing this from Microsoft OneNote. This feature would be REALLY great for people who needs to migrate many pages in OneNote. OneNote has no export feature fo

[2016-03-10 16:05] pbek commented on #105
Thank you! I will close this issue now.

[2016-03-10 16:05] #105 closed

[2016-03-10 16:06] pbek commented on #111
I will close this issue now for lack of feedback, feel free to open it again if you have more information.

[2016-03-10 16:06] #111 closed

[2016-03-10 16:06] pbek commented on #110
I will close this issue now for lack of feedback, feel free to open it again if you have more information.

[2016-03-10 16:06] #110 closed

[2016-03-10 16:07] pbek commented on #109
Any news on this issue?

[2016-03-10 16:08] pbek commented on #112
Thank you for your idea! That is certainly no easy feat to do, I will investigate.

[2016-03-10 16:56] pbek commented on #112
Some work, but doable! :+1:

[2016-03-10 18:37] offerlam commented on #112
GREAT! looking forward to test it!!.... in a couple of hours :P

[2016-03-10 20:53] Letterus commented on #109
Not yet. Gonna have to reset the settings and test again.

[2016-03-11 07:48] Letterus commented on #109
I resetted the setting and the app behaves as expected now. I think somehow I managed to save an empty path for this setting. When I am able to reproduce it I will report here.

[2016-03-11 07:52] pbek commented on #109
That's why I wanted to take a look at them. ;)

Thank you for testing! Keep in mind that there also is a button for emptying the notes folder history in the settings.
I will close this issue until you open it again.

[2016-03-11 07:52] #109 closed

[2016-03-11 07:57] Letterus commented on #98
It is definitely a problem of the ownCloud client (or of the Qt API they use - the Seafile client behaves the same way). There are some changes on the corresponding file (or dir) when the client is syncing it. I was experiencing this issue very often because I used an external storage on the server side. This way the sync process had a good portion more latency which I could type in between and th

[2016-03-11 08:04] pbek commented on #98
Watching files and directories for changes is handled by <http://doc.qt.io/qt-5/qfilesystemwatcher.html>.

I wonder if ownCloud 9.0 fixes some of your other sync issues...

[2016-03-11 15:45] robled opened #113 "Insert newlines along with code blocks"
Let' say I have this code in a note:

[code]

If I highlight that text and press the "Insert code block" button, the tickmarks will be inserted at the beginning and end of existing lines like so:

[code]

The next thing that a user may want to do is copy that code, but having the tick marks inserted on the same line as the code makes it hard to easily copy the code for use in other programs.  I su

[2016-03-11 18:09] pbek commented on #112
Now implemented in v1.1.6, that is currently building:
- you can now **paste html** in notes with <kbd>Ctrl</kbd> + <kbd>⇧</kbd> +
  <kbd>V</kbd>
  - html tags like `strong`, `b`, `em`, `i`, `a`, `h1`, `h2`, `h3`, `h4`,
    `h5`, `br` will be translated to markdown
  - images from `img` tags will be downloaded and inserted as markdown images

Can you please be so kind and test if it works for you.

[2016-03-11 18:15] pbek commented on #113
I'm not sure if this behaviour will improve the current situation. Not always the newlines would be nice to have when using *Insert code block*. What if you just want to use it inline?
As far as I can see it the GitHub editor also doesn't add newlines...
Or do you propose to just add newlines if the pasted text has at least one newline in it?

[2016-03-11 18:27] offerlam commented on #112
testing now .. hold on

[2016-03-11 18:31] offerlam commented on #112
as a test I highlighted this entire page

https://support.office.com/en-us/article/Download-and-install-or-reinstall-Office-365-Office-2016-or-Office-2013-on-your-PC-7a28382b-7015-4b5a-9d9b-650d15742c95

but pasting it in QownNotes removed all the formats.. and it didn't add the pictures either..

i simply copy pasted it into the edit tap of a new note and checked Markdown to see if it looked righ

[2016-03-11 21:17] pbek commented on #112
The article worked here under OS X and Linux. How did you paste it? Did you use the `paste html and media` function?

[2016-03-12 06:30] praxiq commented on #105
Copying images and pasting them using the "Paste HTML or Media" option works great on OSX! And dragging an image file from the Finder works well too, but dragging an image from, say, a web browser, which works in many other apps, doesn't do anything. That'd be a nice feature, but it is by no means high-priority.

(It might be nice if "Paste HTML or Media" was invoked automatically in cases where i

[2016-03-12 06:34] pbek commented on #105
I will take a look at that.

I will see how hard it is to intercept default pasting...

[2016-03-12 10:31] pbek commented on #105
both is now implemented in 1.1.7

[2016-03-12 12:09] pbek commented on #105
@praxiq, v1.1.7 is out now (currently building). Does it work for you?

[2016-03-12 12:47] pbek commented on #112
@offerlam, I just tested with Google Chrome under Windows and it worked fine.
Although it didn't work with Internet Explorer. IE does things differently...
I tried to fix stuff now for IE in the current version 1.1.8, can you please test again.

[2016-03-12 13:31] offerlam commented on #112
No i just used Ctrl c and than Ctrl v. Was that wrong?

Sendt fra min telefon med CyanogenMod

Den 11/03/2016 22.18 skrev Patrizio Bekerle <notifications@github.com>:

The article worked here under OS X and Linux. How did you paste it? Did you use the paste html and media function?

—
Reply to this email directly or view it on GitHub.

[2016-03-12 13:46] pbek commented on #112
Please use <kbd>Ctrl</kbd> + <kbd>⇧</kbd> + <kbd>V</kbd>. Normal pasting pastes plain text, as it should be.

[2016-03-14 16:33] offerlam commented on #112
Hi pbek,

sorry for the late respons.. i will test it ASAP this week. but im pretty hung today the next. But it seems i did it wrong...

[2016-03-14 17:11] pbek commented on #112
Happy un-hunging. :)

[2016-03-14 17:32] pbek commented on #106
In the current version 1.1.9:
- you can now show the current note in your file manager with a new menu item
    - use <kbd>Alt</kbd> + <kbd>⇧</kbd> + <kbd>F</kbd> as shortcut
    - under OS X the folder of the note is opened in Finder, but the note is
      not selected

please be so kind and report back if it works for you

[2016-03-14 18:58] fotastisch opened #114 "Installation on Elementary OS"
Hi!

QOwnNotes is awesome! I'm using it on Arch and Windows. Unfortunately I'm running into problems installing it on Elementary OS, which is based on Ubuntu 14.04. I followed the instructions for Ubuntu < 15.04, but receive the following errors:

W: Failed to fetch http://ppa.launchpad.net/pbek/qownnotes/ubuntu/dists/trusty/main/binary-amd64/Packages  404  Not Found

W: Failed to fetch http://ppa

[2016-03-14 19:34] pbek commented on #114
Thank you for your kind words, @fotastisch!

There is no package on Launchpad for Trusty because Launchpad can't build it because of the Qt 5.3+ dependencies.

If you install Qt 5.5 yourself you can either install the deb-Packages directly or use the Open Build Service repository at <https://build.opensuse.org/package/binaries/home:pbek:QOwnNotes/desktop?repository=xUbuntu_15.10>

[2016-03-15 07:08] pbek commented on #114
I now added instructions on how to add the Ubuntu 15.10 repository from Open Build Service on <http://www.qownnotes.org/installation#Linux>.

Does this help you?

[2016-03-15 07:30] fotastisch commented on #114
I think it does. I'll try tonight when I'm back home and post my results!

Thank you very much!

[2016-03-15 07:37] pbek commented on #114
Until then... :grin:

[2016-03-15 17:07] pbek commented on #113
When inserting code blocks there will be added a new line on top and at the bottom of the selected text if the selected text has multiple lines in version 1.2.0.

[2016-03-15 18:10] mlimacarlos commented on #95
I like it! I made the other traslations to portuguese brazilian. I always been avaliable for add this translation. Its a pleasure.

[2016-03-15 18:15] pbek commented on #95
Great job! Thank you, @mlimacarlos! I will release it with version 1.2.0.

[2016-03-15 18:48] pbek commented on #113
Version 1.2.0 is now out, could you please be so kind and report back if it works for you, @robled?

[2016-03-15 20:13] fotastisch commented on #114
Just a small update, I'm still working on it. ;) libqt5core5a and libstdc++6 are unmet dependencies, so now I'll try to figure out how to install them from the right repo.

[2016-03-15 21:31] pbek commented on #114
Did you try the Ubuntu 15.10 repository? Too bad! Can you modify the install instructions to use 15.04 instead and try again?

[2016-03-16 06:51] pbek commented on #107
I was working with Botan the last days and was able integrate it into QOwnNotes. I will attempt to integrate AES-256 encryption for notes today.

[2016-03-16 10:32] Fabijenna commented on #95
Hi Cici,
kann das irgendwie aus bitte, ich konnte die Notifications nicht abstellen
DANKE!!!!!!!!
;)

 --- --- --- --- --- --- ---

adLang.media.services
www.amylang.jimdo.com
skype:amydlang

Date: Tue, 15 Mar 2016 11:15:16 -0700
From: notifications@github.com
To: QOwnNotes@noreply.github.com
CC: twinsnake@live.de
Subject: Re: [QOwnNotes] Translating QOwnNotes (#95)

Great job! Thank you, @mlimaca

[2016-03-16 10:39] pbek commented on #95
@Fabijenna, please try the *Unsubscribe* button on the right in this issue.

[2016-03-16 17:04] pbek commented on #107
After a lot of integration work and re-writing some major stuff I have botan now integrated into QOwnNotes and am using AES-256 encryption for the notes.
@praxiq and @Letterus can you please test the current version 1.2.1 and tell me if you run into problems...

[2016-03-16 21:11] robled commented on #113
Works great, thank you!

[2016-03-16 21:11] #113 closed

[2016-03-17 11:22] Letterus commented on #107
Works well! Thank you very much.

Only two things behave not the way I would expect:
1. When I encrypt a note or leave the "edit" mode of an encrypted note (edit view shows the encrypted note) I still can see the content of the note when I switch to the markdown view. I would expect that all unencrypted contents of the notes are removed from RAM and app views when I encrypt it.
2. When I edit an e

[2016-03-17 11:27] pbek commented on #107
Thank you for your review, @Letterus!

1. As long as the password is cached (10min) you are able to see the decrypted note in the markdown view.
2. I'm not sure yet if I think that's a good idea...

[2016-03-17 12:12] Letterus commented on #107
Ok, I did not know about the caching behaviour. For me as user it would be more transparent if I could influence the time when to forget the password by myself.

[2016-03-17 12:13] pbek commented on #107
Maybe there will be a setting for that some point of time. :grin:

[2016-03-19 12:08] #107 closed

[2016-03-19 12:09] pbek commented on #114
Do you have any feedback or anything I can help you with, @fotastisch?

[2016-03-19 12:10] #112 closed

[2016-03-19 12:10] #106 closed

[2016-03-21 14:19] offerlam commented on #112
Hi pbek,

I have been so extreamly HUNG these two weeks :P <= ha ha, it  should have said hung up :)

I tested with CTRL + arrow up + V

It did keep some of the formatting.. i can see some of the text is different. but i didn't grap any pictures from the page.

I tested from the same page as above..

I went and highligted the page and went CTRL + C to copy

then i went to a new note in Qownnote an

[2016-03-21 14:24] pbek commented on #112
<kbd>⇧</kbd> is the shift key. :)
Why don't you just use the menu entry? ,)

[2016-03-21 14:27] offerlam commented on #112
embarrassing :P but i can take it :P hold on

[2016-03-21 14:32] offerlam commented on #112
pbek: Mission Accomplished :) Despite weird Hung statements and literal conclusions of drawings

[2016-03-21 14:36] pbek commented on #112
Great! :) Did it work now?
Have a love-ly day. :grin:

[2016-03-21 14:37] offerlam commented on #112
yes it did :) on windows... :) now i just need to activate notes on my owncloud server and start the tedius copy process :)

[2016-03-21 21:18] Letterus commented on #107
You implemented this feature before Apple did with their Notes app: https://support.apple.com/de-de/HT205750
;-)

[2016-03-21 21:23] pbek commented on #107
Hahaha, that's called foresight :)

[2016-03-21 21:53] fotastisch commented on #114
Hi!

Sorry for the late reply. So far I couldn't revert to the 15.04 repository and unfortunately I'm away from my PC right now. I'll get back working on it as soon as I can.

Thank you very much for your help!

[2016-03-21 22:15] mlimacarlos opened #115 "Move notes to another folder"
Hi @pbek,

  Is it possible to move notes to another presset folder or open a file explorer? i can't change my recent notes directory.

tks in advance,
Marcos

[2016-03-22 05:19] pbek commented on #114
Thank you for experimenting with it, @fotastisch!

[2016-03-22 05:22] pbek commented on #115
If you set a new notes folder with *Note / Set notes folder* you should see a recent notes folder. Then you should also be able to move notes to it. Does this help you?

[2016-03-22 06:09] pbek commented on #98
In version 1.2.4 you should see a status message on the bottom telling you why the note diff dialog was opened.

[2016-03-22 16:18] mlimacarlos commented on #115
I select my notes folder but i cant see recent notes folder. For now i move file to archived notes directory inside notes folder. My recent notes directory is empty and i cant change this value.

[2016-03-22 16:22] pbek commented on #115
Could you please post your **notesPath** and **recentNoteFolders** variables from the Debug tab in the settings?

And afterwards you can also find a button to delete your notes history in the settings dialog.

[2016-03-22 17:44] mlimacarlos commented on #115
The information is below:
QOwnNotes Debug Information
===========================

## General Info

**Current Date**: `ter mar 22 14:43:39 2016`
**Version**: `1.2.0`
**Build date**: `Mar 15 2016`
**Build number**: `120`
**Platform**: `linux`
**Operating System**: `Fedora 23 (Workstation Edition)`
**Build architecture**: `x86_64`
**Current architecture**: `x86_64`
**Release**: `OBS`
**Qt Version**:

[2016-03-22 17:52] pbek commented on #115
Your **notesPath** is set, that's good. Your **recentNoteFolders** is empty, that means you haven't selected an other folder yet, did you?

[2016-03-22 18:25] mlimacarlos commented on #115
Ok. Now i understand this!  Is there another way to select a folder without having to be entering a previous folder? if this folder was a pre selection?
These steps works ok with i needed, but it is confuse.
tks in advance,
Marcos